## Credit Risk Model

### Dataset, Target Variable, and Missing Value

In [1]:
import numpy as np
import pandas as pd

import os

In [2]:
os.listdir()

['.git',
 'lc_2016_2017.csv',
 'lc_loan.csv',
 'new.html',
 'Pengenalan Dataset, Target Variable, dan Missing Values.ipynb',
 'us-state-codes.csv']

In [3]:
loan_data = pd.read_csv('lc_2016_2017.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_13824\4234444771.py:1: DtypeWarning: Columns (18,54) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data = pd.read_csv('lc_2016_2017.csv')

In [4]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0

In [5]:
loan_data.shape

(759338, 72)

In [6]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

In [7]:
loan_data.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [8]:
loan_data['good_bad'] = np.where(loan_data.loc[:, 'loan_status'].isin(['Charged off', 'Default',
                                                                       'Late (31-120 days)', 'Late (16-30 days)']), 0, 1)

In [9]:
loan_data.good_bad.value_counts()

good_bad
1    740072
0     19266
Name: count, dtype: int64

In [10]:
loan_data[['loan_status', 'good_bad']]

              loan_status  good_bad
0                 Current         1
1                 Current         1
2                 Current         1
3                 Current         1
4                 Current         1
...                   ...       ...
759333            Current         1
759334            Current         1
759335  Late (16-30 days)         0
759336            Current         1
759337            Current         1

[759338 rows x 2 columns]

In [11]:
missing_values = pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0])

In [12]:
missing_values = missing_values[missing_values.iloc[:,0] > 0.50]

In [13]:
missing_values.sort_values([0], ascending = False)

                                    0
member_id                    1.000000
desc                         0.999978
dti_joint                    0.955223
annual_inc_joint             0.955220
verification_status_joint    0.955220
mths_since_last_record       0.814076
mths_since_last_major_derog  0.716720

In [14]:
loan_data.dropna(thresh = loan_data.shape[0]*0.5, axis = 1, inplace = True)

In [15]:
missing_values = pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0])
missing_values = missing_values[missing_values.iloc[:,0] > 0.50]
missing_values.sort_values([0], ascending = False)

Empty DataFrame
Columns: [0]
Index: []

In [16]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 66 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          759338 non-null  int64
 1   loan_amnt                   759338 non-null  int64
 2   funded_amnt                 759338 non-null  int64
 3   funded_amnt_inv             759338 non-null  float64
 4   term                        759338 non-null  object
 5   int_rate                    759338 non-null  float64
 6   installment                 759338 non-null  float64
 7   grade                       759338 non-null  object
 8   sub_grade                   759338 non-null  object
 9   emp_title                   708368 non-null  object
 10  emp_length                  708975 non-null  object
 11  home_ownership              759338 non-null  object
 12  annual_inc                  759338 non-null  float64
 13  verification_status         759338 non-null  object
 14  issue_d                     759338 non-null  object
 15  loan_status                 759338 non-null  object
 16  pymnt_plan                  759338 non-null  object
 17  purpose                     759338 non-null  object
 18  title                       736165 non-null  object
 19  zip_code                    759337 non-null  object
 20  addr_state                  759338 non-null  object
 21  dti                         758983 non-null  float64
 22  delinq_2yrs                 759338 non-null  int64
 23  earliest_cr_line            759338 non-null  object
 24  inq_last_6mths              759337 non-null  float64
 25  mths_since_last_delinq      396633 non-null  float64
 26  open_acc                    759338 non-null  int64
 27  pub_rec                     759338 non-null  int64
 28  revol_bal                   759338 non-null  float64
 29  revol_util                  758821 non-null  float64
 30  total_acc                   759338 non-null  int64
 31  initial_list_status         759338 non-null  object
 32  out_prncp                   759338 non-null  float64
 33  out_prncp_inv               759338 non-null  float64
 34  total_pymnt                 759338 non-null  float64
 35  total_pymnt_inv             759338 non-null  float64
 36  total_rec_prncp             759338 non-null  float64
 37  total_rec_int               759338 non-null  float64
 38  total_rec_late_fee          759338 non-null  float64
 39  recoveries                  759338 non-null  float64
 40  collection_recovery_fee     759338 non-null  float64
 41  last_pymnt_d                758390 non-null  object
 42  last_pymnt_amnt             759338 non-null  float64
 43  next_pymnt_d                591423 non-null  object
 44  last_credit_pull_d          759320 non-null  object
 45  collections_12_mths_ex_med  759338 non-null  int64
 46  policy_code                 759338 non-null  int64
 47  application_type            759338 non-null  object
 48  acc_now_delinq              759338 non-null  int64
 49  tot_coll_amt                759338 non-null  float64
 50  tot_cur_bal                 759338 non-null  float64
 51  open_acc_6m                 759276 non-null  float64
 52  open_il_12m                 759277 non-null  float64
 53  open_il_24m                 759277 non-null  float64
 54  mths_since_rcnt_il          738795 non-null  float64
 55  total_bal_il                759277 non-null  float64
 56  il_util                     658743 non-null  float64
 57  open_rv_12m                 759277 non-null  float64
 58  open_rv_24m                 759277 non-null  float64
 59  max_bal_bc                  759277 non-null  float64
 60  all_util                    759224 non-null  float64
 61  total_rev_hi_lim            759338 non-null  float64
 62  inq_fi                      759277 non-null  float64
 63  total_cu_tl                 759276 non-null  float64
 64  inq_last_12m                759276 non-null  float64
 65  good_bad                    759338 non-null  int32
dtypes: float64(35), int32(1), int64(10), object(20)
memory usage: 379.5+ MB

### 4 Data Splitting

In [17]:
loan_data.shape

(759338, 66)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
# Membagi data menjadi 80% train set dan 20% test set
X = loan_data.drop('good_bad', axis = 1)
y = loan_data[['good_bad']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state= 42)

In [20]:
X_train.shape, X_test.shape

((607470, 65), (151868, 65))

In [21]:
y_train.shape, y_test.shape

((607470, 1), (151868, 1))

In [22]:
y_train.value_counts(normalize = True)

good_bad
1           0.974628
0           0.025372
Name: proportion, dtype: float64

In [23]:
y_test.value_counts(normalize = True)

good_bad
1           0.974629
0           0.025371
Name: proportion, dtype: float64

### 5 Data Cleaning

In [24]:
X_train.shape

(607470, 65)

In [25]:
for col in X_train.select_dtypes(include= ['object', 'bool']).columns:
  print(col)
  print(X_train[col].unique())
  print()

term
['60 months' '36 months']

grade
['C' 'A' 'B' 'F' 'D' 'E' 'G']

sub_grade
['C3' 'A5' 'B4' 'F5' 'B3' 'C2' 'C4' 'D2' 'B2' 'D1' 'C1' 'B1' 'B5' 'A2'
 'C5' 'A3' 'D5' 'E5' 'A4' 'G5' 'D3' 'A1' 'E3' 'E1' 'D4' 'E4' 'G4' 'E2'
 'G1' 'F1' 'F2' 'F4' 'G3' 'F3' 'G2']

emp_title
['Claim Senior Analyst' 'gang foreman mofe' 'Manager' ... 'Lead op. Tech'
 'Investigations and Inquiries Specialist' 'Field Medic/FTO']

emp_length
['4 years' '10+ years' '3 years' '< 1 year' '2 years' '9 years' '6 years'
 '1 year' '8 years' nan '7 years' '5 years']

home_ownership
['RENT' 'MORTGAGE' 'OWN' 'ANY' 'NONE']

verification_status
['Source Verified' 'Not Verified' 'Verified']

issue_d
['Apr-2017' 'Jun-2017' 'Feb-2017' 'Mar-2016' 'May-2017' 'Sep-2016'
 'Jan-2016' 'Oct-2016' 'Jun-2016' 'Jan-2017' 'Feb-2016' 'Apr-2016'
 'Mar-2017' 'Sep-2017' 'Dec-2016' 'Aug-2017' 'Jul-2016' 'Jul-2017'
 'Aug-2016' 'Nov-2016' 'May-2016']

loan_status
['Current' 'Charged Off' 'Fully Paid' 'Late (16-30 days)'
 'In Grace Period' 'Late (31-120 days)' 'Default']

pymnt_plan
['n' 'y']

purpose
['debt_consolidation' 'major_purchase' 'credit_card' 'medical'
 'home_improvement' 'other' 'moving' 'car' 'renewable_energy' 'vacation'
 'small_business' 'house' 'wedding']

title
['Debt consolidation' 'Major purchase' 'Credit card refinancing'
 'Medical expenses' 'Home improvement' 'Other' nan 'Moving and relocation'
 'Car financing' 'Green loan' 'Vacation' 'Business' 'Home buying']

zip_code
['115xx' '119xx' '986xx' '021xx' '112xx' '787xx' '554xx' '128xx' '760xx'
 '432xx' '988xx' '946xx' '130xx' '301xx' '305xx' '462xx' '486xx' '591xx'
 '940xx' '870xx' '410xx' '078xx' '212xx' '430xx' '134xx' '329xx' '480xx'
 '070xx' '780xx' '641xx' '302xx' '926xx' '770xx' '465xx' '029xx' '902xx'
 '920xx' '443xx' '630xx' '074xx' '300xx' '175xx' '700xx' '941xx' '723xx'
 '331xx' '751xx' '104xx' '875xx' '795xx' '282xx' '125xx' '369xx' '952xx'
 '777xx' '088xx' '362xx' '275xx' '974xx' '750xx' '604xx' '231xx' '487xx'
 '100xx' '773xx' '117xx' '474xx' '922xx' '467xx' '240xx' '206xx' '352xx'
 '441xx' '145xx' '440xx' '928xx' '339xx' '930xx' '958xx' '483xx' '113xx'
 '612xx' '296xx' '815xx' '631xx' '917xx' '087xx' '531xx' '933xx' '956xx'
 '351xx' '161xx' '925xx' '551xx' '983xx' '129xx' '937xx' '729xx' '290xx'
 '495xx' '391xx' '563xx' '132xx' '805xx' '334xx' '790xx' '323xx' '170xx'
 '338xx' '216xx' '545xx' '435xx' '781xx' '080xx' '152xx' '863xx' '945xx'
 '061xx' '932xx' '307xx' '913xx' '762xx' '286xx' '704xx' '460xx' '067xx'
 '079xx' '927xx' '220xx' '997xx' '782xx' '674xx' '431xx' '907xx' '346xx'
 '558xx' '126xx' '775xx' '445xx' '921xx' '463xx' '229xx' '853xx' '490xx'
 '752xx' '838xx' '458xx' '370xx' '010xx' '985xx' '042xx' '995xx' '975xx'
 '350xx' '238xx' '211xx' '191xx' '900xx' '140xx' '532xx' '082xx' '197xx'
 '791xx' '027xx' '103xx' '949xx' '601xx' '539xx' '951xx' '450xx' '114xx'
 '064xx' '484xx' '062xx' '190xx' '446xx' '451xx' '719xx' '342xx' '389xx'
 '366xx' '662xx' '072xx' '891xx' '718xx' '109xx' '478xx' '210xx' '328xx'
 '349xx' '857xx' '277xx' '939xx' '910xx' '201xx' '274xx' '802xx' '276xx'
 '335xx' '168xx' '708xx' '580xx' '151xx' '774xx' '089xx' '850xx' '019xx'
 '141xx' '923xx' '461xx' '232xx' '060xx' '106xx' '606xx' '285xx' '605xx'
 '980xx' '013xx' '404xx' '633xx' '386xx' '288xx' '530xx' '688xx' '272xx'
 '356xx' '016xx' '648xx' '786xx' '153xx' '806xx' '322xx' '783xx' '336xx'
 '851xx' '124xx' '479xx' '015xx' '447xx' '981xx' '017xx' '618xx' '309xx'
 '600xx' '623xx' '157xx' '312xx' '906xx' '570xx' '678xx' '068xx' '916xx'
 '207xx' '840xx' '310xx' '071xx' '744xx' '665xx' '882xx' '385xx' '756xx'
 '808xx' '448xx' '626xx' '376xx' '553xx' '020xx' '180xx' '953xx' '327xx'
 '390xx' '617xx' '970xx' '833xx' '820xx' '156xx' '146xx' '836xx' '824xx'
 '871xx' '383xx' '395xx' '373xx' '841xx' '967xx' '333xx' '747xx' '740xx'
 '755xx' '731xx' '936xx' '230xx' '481xx' '996xx' '424xx' '111xx' '721xx'
 '181xx' '982xx' '236xx' '837xx' '173xx' '638xx' '880xx' '032xx' '898xx'
 '557xx' '012xx' '028xx' '701xx' '160xx' '018xx' '023xx' '717xx' '303xx'
 '550xx' '403xx' '703xx' '069xx' '856xx' '564xx' '471xx' '488xx' '235xx'
 '588xx' '371xx' '182xx' '133xx' '537xx' '199xx' '973xx' '378xx' '800xx'
 '165xx' '063xx' '452xx' '433xx' '597xx' '359xx' '316xx' '993xx' '341xx'
 '935xx' '330xx' '895xx' '158xx' '616xx' '223xx' '193xx' '102xx' '757xx'
 '368xx' '217xx' '164xx' '765xx' '620xx' '675xx' '208xx' '381xx' '083xx'
 '030xx' '727xx' '198xx' '444xx' '319xx' '976xx' '761xx' '221xx' '636xx'
 '611xx' '992xx' '177xx' '076xx' '167xx' '640xx' '299xx' '919xx' '377xx'
 '680xx' '807xx' '725xx' '233xx' '409xx' '645xx' '150xx' '234xx' '294xx'
 '186xx' '658xx' '797xx' '394xx' '442xx' '314xx' '374xx' '990xx' '469xx'
 '999xx' '844xx' '652xx' '380xx' '957xx' '321xx' '320xx' '136xx' '142xx'
 '293xx' '799xx' '801xx' '804xx' '924xx' '287xx' '657xx' '347xx' '281xx'
 '912xx' '785xx' '200xx' '086xx' '984xx' '793xx' '705xx' '660xx' '813xx'
 '668xx' '816xx' '847xx' '559xx' '955xx' '759xx' '387xx' '810xx' '779xx'
 '720xx' '852xx' '363xx' '313xx' '972xx' '105xx' '613xx' '045xx' '567xx'
 '627xx' '834xx' '911xx' '548xx' '959xx' '108xx' '905xx' '038xx' '209xx'
 '584xx' '494xx' '561xx' '118xx' '454xx' '664xx' '024xx' '809xx' '039xx'
 '883xx' '655xx' '014xx' '195xx' '492xx' '073xx' '049xx' '914xx' '776xx'
 '661xx' '077xx' '784xx' '284xx' '400xx' '811xx' '607xx' '214xx' '475xx'
 '714xx' '176xx' '292xx' '222xx' '546xx' '315xx' '280xx' '651xx' '722xx'
 '121xx' '769xx' '324xx' '737xx' '401xx' '677xx' '245xx' '743xx' '025xx'
 '644xx' '393xx' '497xx' '826xx' '877xx' '716xx' '713xx' '361xx' '894xx'
 '392xx' '427xx' '054xx' '890xx' '295xx' '226xx' '672xx' '107xx' '196xx'
 '148xx' '534xx' '085xx' '778xx' '609xx' '562xx' '864xx' '470xx' '686xx'
 '628xx' '614xx' '681xx' '372xx' '535xx' '422xx' '405xx' '159xx' '270xx'
 '143xx' '667xx' '549xx' '344xx' '934xx' '096xx' '670xx' '034xx' '227xx'
 '814xx' '304xx' '194xx' '225xx' '183xx' '420xx' '415xx' '388xx' '057xx'
 '615xx' '878xx' '116xx' '421xx' '560xx' '689xx' '075xx' '730xx' '540xx'
 '991xx' '735xx' '496xx' '669xx' '482xx' '120xx' '968xx' '741xx' '065xx'
 '556xx' '271xx' '493xx' '337xx' '544xx' '402xx' '908xx' '684xx' '188xx'
 '265xx' '174xx' '456xx' '622xx' '766xx' '040xx' '262xx' '989xx' '066xx'
 '683xx' '382xx' '954xx' '297xx' '239xx' '629xx' '764xx' '278xx' '738xx'
 '473xx' '581xx' '155xx' '608xx' '163xx' '903xx' '547xx' '360xx' '650xx'
 '637xx' '144xx' '137xx' '325xx' '971xx' '436xx' '794xx' '044xx' '477xx'
 '666xx' '950xx' '915xx' '306xx' '843xx' '572xx' '687xx' '189xx' '123xx'
 '656xx' '052xx' '185xx' '944xx' '466xx' '690xx' '131xx' '242xx' '412xx'
 '647xx' '763xx' '603xx' '706xx' '406xx' '218xx' '593xx' '468xx' '453xx'
 '283xx' '748xx' '691xx' '860xx' '832xx' '977xx' '224xx' '298xx' '489xx'
 '184xx' '273xx' '587xx' '897xx' '365xx' '219xx' '543xx' '308xx' '978xx'
 '354xx' '828xx' '101xx' '244xx' '571xx' '041xx' '056xx' '635xx' '411xx'
 '407xx' '358xx' '384xx' '599xx' '279xx' '138xx' '026xx' '289xx' '575xx'
 '154xx' '022xx' '033xx' '582xx' '624xx' '566xx' '243xx' '943xx' '179xx'
 '438xx' '379xx' '829xx' '825xx' '439xx' '734xx' '707xx' '754xx' '724xx'
 '050xx' '058xx' '434xx' '110xx' '485xx' '171xx' '788xx' '542xx' '625xx'
 '576xx' '610xx' '318xx' '728xx' '948xx' '961xx' '398xx' '139xx' '047xx'
 '357xx' '758xx' '585xx' '960xx' '931xx' '767xx' '417xx' '122xx' '423xx'
 '237xx' '178xx' '476xx' '258xx' '187xx' '654xx' '768xx' '241xx' '291xx'
 '541xx' '712xx' '267xx' '726xx' '166xx' '215xx' '827xx' '709xx' '573xx'
 '711xx' '673xx' '859xx' '081xx' '538xx' '619xx' '736xx' '031xx' '437xx'
 '918xx' '011xx' '873xx' '865xx' '326xx' '228xx' '261xx' '472xx' '855xx'
 '598xx' '127xx' '796xx' '565xx' '874xx' '574xx' '397xx' '577xx' '464xx'
 '247xx' '317xx' '596xx' '455xx' '798xx' '253xx' '602xx' '147xx' '491xx'
 '745xx' '693xx' '646xx' '091xx' '671xx' '749xx' '590xx' '685xx' '135xx'
 '172xx' '653xx' '639xx' '586xx' '881xx' '449xx' '355xx' '498xx' '364xx'
 '367xx' '594xx' '812xx' '149xx' '169xx' '994xx' '947xx' '260xx' '904xx'
 '846xx' '254xx' '046xx' '037xx' '053xx' '425xx' '043xx' '845xx' '710xx'
 '084xx' '457xx' '803xx' '255xx' '634xx' '051xx' '048xx' '408xx' '259xx'
 '789xx' '822xx' '396xx' '035xx' '792xx' '592xx' '998xx' '098xx' '036xx'
 '499xx' '753xx' '893xx' '252xx' '246xx' '263xx' '835xx' '583xx' '746xx'
 '679xx' '008xx' '426xx' '969xx' '979xx' '595xx' '830xx' '942xx' '413xx'
 '162xx' '966xx' '264xx' '090xx' '250xx' '094xx' '414xx' '963xx' '416xx'
 '676xx' '772xx' '251xx' '739xx' '823xx' '702xx' '256xx' '268xx' '901xx'
 '987xx' '418xx' '345xx' '257xx' '831xx' '909xx' '884xx' '332xx' '348xx'
 '962xx' '059xx' '311xx' '694xx' '204xx' '879xx' '555xx' '500xx' '266xx'
 '663xx' '525xx' '692xx' '095xx' '343xx' '521xx' '506xx' '097xx' '249xx'
 '202xx' '248xx' '885xx' '964xx' '340xx' '821xx' nan '621xx' '502xx'
 '698xx' '965xx' '055xx' '861xx' '093xx' '007xx' '742xx' '510xx' '528xx'
 '523xx' '092xx' '569xx']

addr_state
['NY' 'WA' 'MA' 'TX' 'MN' 'OH' 'CA' 'GA' 'IN' 'MI' 'MT' 'NM' 'KY' 'NJ'
 'MD' 'FL' 'MO' 'RI' 'PA' 'LA' 'AR' 'NC' 'AL' 'OR' 'IL' 'VA' 'SC' 'CO'
 'WI' 'MS' 'AZ' 'CT' 'AK' 'KS' 'ID' 'TN' 'ME' 'DE' 'NV' 'ND' 'NE' 'SD'
 'UT' 'OK' 'WY' 'HI' 'NH' 'DC' 'VT' 'WV']

earliest_cr_line
['Aug-1995' 'Sep-1987' 'Oct-2006' 'Mar-2011' 'Sep-2012' 'Nov-2002'
 'Sep-2001' 'Aug-2004' 'Oct-1996' 'Oct-1997' 'Feb-2001' 'Oct-2000'
 'Aug-2002' 'Dec-2002' 'Dec-2000' 'Jan-2010' 'Feb-2013' 'Oct-1995'
 'Mar-2002' 'Mar-1978' 'Aug-1999' 'Apr-1983' 'Jul-2008' 'Sep-2004'
 'Oct-2007' 'Jun-2006' 'Apr-2004' 'Jul-1996' 'Jun-1986' 'Sep-2003'
 'May-2000' 'Jun-2002' 'Oct-1991' 'Mar-2006' 'Jan-2002' 'Jul-1999'
 'Aug-1993' 'Sep-2005' 'Sep-2008' 'Jun-1999' 'Nov-2003' 'Mar-1993'
 'Jan-2008' 'Sep-1999' 'Oct-1992' 'Aug-1998' 'Nov-2004' 'Dec-1997'
 'Apr-2000' 'Oct-2001' 'Sep-2006' 'Jun-1995' 'Jul-1988' 'Apr-1999'
 'Dec-2004' 'Apr-2008' 'Feb-1994' 'Apr-2001' 'Oct-1989' 'Jul-2012'
 'Apr-1994' 'Sep-1998' 'Sep-2009' 'Jan-2001' 'Feb-1984' 'Mar-2013'
 'Dec-1995' 'Jan-2006' 'Jan-2004' 'Sep-1985' 'Oct-2003' 'Feb-1995'
 'Mar-2004' 'Jun-2005' 'Aug-2001' 'Feb-2004' 'Mar-2000' 'Jul-2002'
 'Jan-1986' 'Jul-2004' 'Nov-2001' 'Nov-2005' 'May-2005' 'Sep-1993'
 'Aug-2008' 'Nov-1995' 'Jul-2005' 'Oct-1999' 'Oct-2002' 'Aug-2006'
 'Jan-2011' 'Aug-2000' 'May-1998' 'Aug-2010' 'Mar-1999' 'Apr-2002'
 'Jul-2003' 'Jul-1998' 'Jan-1995' 'Nov-1996' 'Feb-1977' 'Jun-2001'
 'Jun-2011' 'Jul-1982' 'Apr-1981' 'Jan-2003' 'Mar-2001' 'Feb-2006'
 'Apr-2014' 'Mar-1990' 'Jan-2005' 'Feb-2014' 'Aug-1988' 'Dec-2008'
 'Sep-2011' 'Sep-1997' 'Sep-2000' 'Sep-1991' 'May-1990' 'Apr-2003'
 'Jan-1998' 'Feb-1997' 'Feb-1993' 'Nov-1997' 'Mar-2005' 'Feb-2003'
 'Mar-2012' 'Aug-1994' 'Mar-1992' 'Jun-2004' 'Nov-2007' 'Oct-1985'
 'Feb-2007' 'Aug-2011' 'Jun-1991' 'Dec-2006' 'Aug-1985' 'Jun-2003'
 'Dec-2012' 'Mar-2008' 'Jun-1998' 'Mar-1995' 'Jan-1974' 'Jan-1996'
 'Nov-1985' 'Jun-2013' 'Oct-1973' 'Jul-2000' 'May-1994' 'Dec-2003'
 'May-1989' 'Nov-2000' 'Sep-2002' 'Feb-2009' 'May-2004' 'Nov-1981'
 'Dec-1992' 'Sep-1996' 'Jul-2006' 'May-2006' 'Aug-1997' 'Nov-1999'
 'May-1979' 'Dec-1996' 'Jan-1993' 'Nov-1993' 'Jan-2007' 'Feb-1988'
 'Aug-1996' 'Sep-2007' 'Aug-1989' 'Nov-1992' 'Apr-1979' 'Apr-2006'
 'Mar-2003' 'Dec-1982' 'May-1996' 'May-2003' 'Oct-1998' 'Dec-1993'
 'Sep-1979' 'Dec-2001' 'Jul-1995' 'Dec-1998' 'Apr-1997' 'Oct-1981'
 'Apr-1990' 'May-2008' 'Mar-1997' 'Feb-1998' 'Jul-1986' 'Mar-2010'
 'Dec-1985' 'Apr-1988' 'Apr-1993' 'May-1983' 'Jan-1992' 'Feb-1999'
 'Oct-2010' 'Feb-2005' 'Apr-2007' 'Oct-2009' 'Aug-2005' 'May-1986'
 'Aug-1986' 'May-1999' 'Dec-1990' 'Aug-2003' 'Apr-1977' 'Apr-1989'
 'Mar-1994' 'Oct-2005' 'Oct-2004' 'Dec-1999' 'Nov-2010' 'May-2013'
 'Jan-2013' 'Aug-1992' 'Jun-1977' 'Sep-1966' 'Nov-1994' 'Apr-1986'
 'Apr-1976' 'Oct-1994' 'Jul-2007' 'Jun-2000' 'Oct-1979' 'May-2007'
 'Jul-1993' 'May-1992' 'Aug-1987' 'Dec-1994' 'Oct-1993' 'Sep-1994'
 'Dec-2007' 'Oct-1982' 'May-2001' 'Nov-2012' 'Mar-1998' 'Jun-1992'
 'Dec-1986' 'Nov-1990' 'Jul-2009' 'May-1997' 'Feb-2000' 'Jan-2012'
 'Jun-2007' 'Nov-1998' 'Jan-1973' 'Jan-1985' 'Dec-1991' 'Mar-1986'
 'Apr-2013' 'Dec-2011' 'Jun-1997' 'Apr-2010' 'Apr-1995' 'Aug-2007'
 'Jul-1991' 'Jan-2000' 'Jan-1997' 'Jul-1992' 'Sep-1975' 'Nov-1984'
 'Feb-2008' 'Mar-1989' 'Oct-1986' 'Mar-2007' 'Jun-1976' 'Dec-2005'
 'Aug-2012' 'Aug-2009' 'Nov-1982' 'May-1988' 'Feb-1996' 'Feb-1989'
 'Mar-1991' 'Sep-1990' 'Aug-2013' 'May-1995' 'Sep-1986' 'Apr-1998'
 'Sep-1995' 'Oct-2011' 'Apr-1996' 'Mar-1987' 'Feb-2002' 'Dec-1981'
 'Jul-1977' 'Dec-1977' 'Aug-1979' 'Dec-1956' 'Apr-1987' 'Feb-1979'
 'Mar-2009' 'Oct-1990' 'Oct-1980' 'Oct-2008' 'Sep-2010' 'Nov-1983'
 'Feb-1986' 'Jul-1969' 'Feb-1987' 'Mar-1985' 'Feb-1992' 'Jan-1991'
 'Sep-1976' 'Jun-1993' 'Jul-1976' 'Jun-1994' 'Jul-1985' 'May-1977'
 'Jul-2001' 'Oct-1983' 'Feb-2010' 'Apr-2005' 'Aug-1991' 'Jan-1999'
 'Dec-1988' 'Dec-1989' 'Nov-1988' 'Jul-1989' 'Mar-1996' 'Jan-1984'
 'Jan-1989' 'Oct-2012' 'Jan-1978' 'Jan-1988' 'Apr-2009' 'Jan-1981'
 'Jan-1994' 'Dec-1984' 'Mar-1979' 'Nov-2011' 'Jun-2008' 'May-2002'
 'Mar-1980' 'Aug-1990' 'Sep-1988' 'Mar-1983' 'Nov-2006' 'Sep-2013'
 'Feb-1978' 'Nov-1978' 'Sep-1983' 'Nov-1987' 'Nov-1986' 'Apr-1966'
 'Apr-1984' 'Feb-2011' 'Feb-1990' 'Sep-1984' 'Feb-1985' 'Dec-2009'
 'Jun-2010' 'Jul-1987' 'Mar-1988' 'Jun-1996' 'Mar-1984' 'Aug-1975'
 'Sep-1989' 'Nov-1991' 'Dec-2010' 'Oct-1975' 'Oct-1964' 'May-1978'
 'Jul-1997' 'Nov-2008' 'Jun-2012' 'Jan-1990' 'Oct-1968' 'Nov-1989'
 'May-2011' 'Mar-1982' 'Apr-1991' 'Jul-1994' 'Jul-1990' 'Jun-1987'
 'Apr-2012' 'Aug-2014' 'Oct-1984' 'May-2009' 'Oct-1987' 'May-1982'
 'May-1991' 'Jul-2013' 'May-2014' 'Aug-1983' 'Jun-1989' 'Dec-2013'
 'May-2012' 'May-1985' 'Dec-1973' 'Apr-2011' 'Dec-1976' 'Jan-1987'
 'Jul-1984' 'Apr-1975' 'Sep-1968' 'Aug-1978' 'Oct-2013' 'Feb-1981'
 'Jul-1975' 'Jul-2011' 'Jun-1983' 'Mar-1974' 'Dec-1987' 'Jul-2010'
 'Mar-1981' 'May-1993' 'Nov-1975' 'Jun-1985' 'Feb-1967' 'Jan-1976'
 'Aug-1957' 'Nov-2013' 'Nov-1979' 'Jun-1990' 'Apr-1982' 'Mar-1966'
 'Feb-2012' 'Oct-1988' 'Apr-1985' 'Jan-1961' 'Mar-1975' 'Jan-2009'
 'May-1984' 'Jun-1978' 'Aug-1982' 'Feb-1974' 'Jun-1981' 'May-1981'
 'Jun-2014' 'Oct-1978' 'Sep-1992' 'Apr-1992' 'Dec-1975' 'Jan-1977'
 'Jun-2009' 'May-1975' 'Jun-1982' 'Apr-1972' 'May-2010' 'Jan-2014'
 'Nov-1972' 'Sep-1981' 'Nov-2009' 'May-1987' 'Sep-1982' 'Dec-1983'
 'Apr-1978' 'May-1974' 'Sep-1974' 'Jun-1974' 'Feb-1971' 'Jan-1969'
 'Jan-1964' 'Oct-1976' 'Aug-1984' 'Jun-1988' 'May-1971' 'Feb-1991'
 'Nov-1968' 'Feb-1973' 'Mar-2014' 'Feb-1970' 'Jul-1979' 'Nov-1980'
 'Jul-2014' 'Sep-1978' 'Feb-1983' 'Jan-1960' 'Feb-1980' 'Jun-1984'
 'Jun-1979' 'Jan-1982' 'Feb-1982' 'Aug-1980' 'Dec-1969' 'Dec-1978'
 'Mar-1977' 'Jan-1975' 'Jan-1965' 'Apr-1980' 'Oct-1974' 'Dec-1964'
 'Jun-1975' 'Jan-1980' 'Jul-1981' 'Aug-1973' 'Aug-1974' 'Jun-1969'
 'Apr-1971' 'Aug-1977' 'Jul-1967' 'Dec-1974' 'Sep-1977' 'Jan-1962'
 'Oct-1970' 'Jul-1980' 'Dec-1972' 'May-1976' 'Jun-1972' 'Jul-1971'
 'Jul-1983' 'Mar-1970' 'Sep-1951' 'Sep-1980' 'Aug-1976' 'Sep-1972'
 'Nov-1977' 'Oct-1963' 'Nov-1974' 'Jun-1968' 'Mar-1972' 'Nov-1976'
 'Feb-1976' 'Jan-1979' 'Sep-1973' 'Dec-1979' 'Jan-1951' 'Sep-1971'
 'Jul-1970' 'Dec-1980' 'Feb-1969' 'Aug-1966' 'Jul-1978' 'Jan-1971'
 'Nov-1973' 'Aug-1981' 'Jul-1973' 'Apr-1970' 'Jun-1970' 'Apr-1973'
 'Jun-1971' 'Apr-1968' 'May-1972' 'Jan-1972' 'Sep-1969' 'Oct-1977'
 'May-1967' 'Mar-1973' 'Oct-1971' 'May-1973' 'Dec-1968' 'Jan-1983'
 'Apr-1964' 'Jan-1967' 'Jun-1958' 'Dec-1962' 'Feb-1975' 'May-1970'
 'Jul-1972' 'Oct-1966' 'Aug-1967' 'Jan-1970' 'Mar-1976' 'Apr-1965'
 'Apr-1974' 'Sep-1967' 'Nov-1969' 'May-1980' 'Jul-1974' 'Nov-1971'
 'Dec-1971' 'Aug-1971' 'Aug-1968' 'Aug-1972' 'Jun-1980' 'Jan-1968'
 'Jul-1968' 'Oct-1965' 'Jul-1965' 'Jun-1965' 'Jun-1964' 'Mar-1961'
 'Sep-1965' 'Jan-1959' 'Nov-1970' 'Oct-1967' 'Jul-1963' 'Jun-1967'
 'Feb-1968' 'Oct-1969' 'Oct-1972' 'Dec-1965' 'Jul-1964' 'Feb-1972'
 'Jan-1956' 'Jun-1973' 'Sep-1964' 'Apr-1967' 'Sep-1970' 'May-1966'
 'Mar-1968' 'Jan-1966' 'Mar-1965' 'Aug-1969' 'Aug-1970' 'Dec-1970'
 'Dec-1960' 'May-1965' 'Jan-1963' 'May-1969' 'Feb-1959' 'Aug-1961'
 'Dec-1966' 'Mar-1967' 'May-1968' 'Nov-1965' 'Aug-1965' 'Jan-1953'
 'Jan-1957' 'Apr-1961' 'Mar-1969' 'Apr-1969' 'Feb-1966' 'Jul-1959'
 'Aug-1964' 'Feb-1963' 'Jan-1952' 'Jun-1966' 'Nov-1966' 'Mar-1971'
 'Feb-1964' 'Aug-1963' 'Nov-1967' 'Aug-1959' 'May-1964' 'Feb-1965'
 'Jun-1957' 'Nov-1959' 'Mar-1962' 'Nov-1964' 'Jan-1958' 'Nov-1961'
 'Apr-1934' 'Dec-1967' 'Jun-1962' 'May-1962' 'Oct-1961' 'Jul-1966'
 'Apr-1963' 'Oct-1960' 'Feb-1961' 'Dec-1946' 'Jul-1961' 'Jun-1963'
 'May-1960' 'Apr-1960' 'Jul-1958' 'Jan-1950' 'Aug-1941' 'Nov-1960'
 'Sep-1961' 'Apr-1962' 'Jun-1960' 'May-1961' 'Mar-1964' 'Nov-1963'
 'Feb-1960' 'May-1958' 'Jun-1959' 'Mar-1963' 'May-1963' 'Aug-1953'
 'Nov-1957' 'Sep-1963' 'Mar-1955' 'Feb-1962' 'Jul-1962' 'Nov-1962'
 'Aug-1960' 'Sep-1962' 'May-1959' 'Jun-1952' 'Feb-1934' 'Jan-1948'
 'Jul-1951' 'Mar-1954' 'Aug-1958' 'Dec-1959' 'Jun-1961' 'Nov-1952'
 'Jul-1952' 'Dec-1958' 'Dec-1963' 'Mar-1959' 'Apr-1955']

initial_list_status
['w' 'f']

last_pymnt_d
['Dec-2017' 'Sep-2016' 'Jun-2017' 'Nov-2017' 'Mar-2017' 'May-2017'
 'Oct-2017' 'Apr-2017' 'Dec-2016' 'Jan-2017' 'Sep-2017' 'Jun-2016'
 'Jul-2017' 'Oct-2016' 'Apr-2016' nan 'May-2016' 'Aug-2017' 'Feb-2017'
 'Nov-2016' 'Jul-2016' 'Mar-2016' 'Aug-2016' 'Jan-2016' 'Feb-2016']

next_pymnt_d
['Jan-2018' nan 'Dec-2017' 'Feb-2018']

last_credit_pull_d
['Dec-2017' 'Feb-2017' 'Oct-2017' 'Aug-2017' 'Nov-2017' 'Jun-2017'
 'May-2016' 'Sep-2017' 'May-2017' 'Nov-2016' 'Jan-2017' 'Jul-2017'
 'Mar-2017' 'Apr-2017' 'Oct-2016' 'Dec-2016' 'Jul-2016' 'Aug-2016'
 'Sep-2016' 'Jun-2016' 'Mar-2016' 'Apr-2016' 'Feb-2016' nan 'Dec-2015'
 'Jan-2016']

application_type
['Individual' 'Joint App']

In [26]:
col_need_to_clean = ['term', 'emp_length', 'issue_d', 'earliest_cr_line', 'last_pymnt_d', 
                     'next_pymnt_d', 'last_credit_pull_d']

In [27]:
X_train['term'].unique()

array(['60 months', '36 months'], dtype=object)

In [28]:
pd.to_numeric(X_train['term'].str.replace('months', ''))

84486     60
37123     60
150429    36
649359    60
38987     60
          ..
620130    36
469068    36
708616    36
10601     36
726539    60
Name: term, Length: 607470, dtype: int64

In [29]:
X_train['term'] = pd.to_numeric(X_train['term'].str.replace('months', ''))

In [30]:
X_train['term']

84486     60
37123     60
150429    36
649359    60
38987     60
          ..
620130    36
469068    36
708616    36
10601     36
726539    60
Name: term, Length: 607470, dtype: int64

In [31]:
X_train['emp_length'].unique()

array(['4 years', '10+ years', '3 years', '< 1 year', '2 years',
       '9 years', '6 years', '1 year', '8 years', nan, '7 years',
       '5 years'], dtype=object)

In [32]:
X_train['emp_length'] = X_train['emp_length'].str.replace('+ years', '')
X_train['emp_length'] = X_train['emp_length'].str.replace(' years', '')
X_train['emp_length'] = X_train['emp_length'].str.replace('< 1 year', str(0))
X_train['emp_length'] = X_train['emp_length'].str.replace(' year', '')

X_train['emp_length'] = X_train['emp_length'].fillna(0)

In [33]:
X_train['emp_length'] = pd.to_numeric(X_train['emp_length'])

In [34]:
X_train['emp_length']

84486      4
37123     10
150429     4
649359     3
38987      0
          ..
620130     8
469068    10
708616    10
10601      4
726539     2
Name: emp_length, Length: 607470, dtype: int64

In [35]:
col_date = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']
X_train[col_date]

         issue_d earliest_cr_line last_pymnt_d next_pymnt_d last_credit_pull_d
84486   Apr-2017         Aug-1995     Dec-2017     Jan-2018           Dec-2017
37123   Jun-2017         Sep-1987     Dec-2017     Jan-2018           Dec-2017
150429  Feb-2017         Oct-2006     Dec-2017     Jan-2018           Dec-2017
649359  Mar-2016         Mar-2011     Sep-2016          NaN           Feb-2017
38987   May-2017         Sep-2012     Dec-2017     Jan-2018           Dec-2017
...          ...              ...          ...          ...                ...
620130  Oct-2016         Aug-1988     Dec-2017     Jan-2018           Dec-2017
469068  May-2016         Dec-1997     Oct-2017          NaN           Oct-2017
708616  Feb-2016         Feb-2003     Nov-2016          NaN           Jul-2017
10601   Jun-2017         May-1999     Dec-2017     Jan-2018           Dec-2017
726539  Jan-2016         Apr-2002     Dec-2017     Jan-2018           Dec-2017

[607470 rows x 5 columns]

In [36]:
X_train['issue_d'] = pd.to_datetime(X_train['issue_d'])

C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2585870489.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_train['issue_d'] = pd.to_datetime(X_train['issue_d'])

In [37]:
X_train['issue_d']

84486    2017-04-01
37123    2017-06-01
150429   2017-02-01
649359   2016-03-01
38987    2017-05-01
            ...
620130   2016-10-01
469068   2016-05-01
708616   2016-02-01
10601    2017-06-01
726539   2016-01-01
Name: issue_d, Length: 607470, dtype: datetime64[ns]

In [38]:
for col in col_date:
    X_train[col] = pd.to_datetime(X_train[col])

C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2317582935.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_train[col] = pd.to_datetime(X_train[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2317582935.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_train[col] = pd.to_datetime(X_train[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2317582935.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_train[col] = pd.to_datetime(X_train[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2317582935.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_train[col] = pd.to_datetime(X_train[col])

In [39]:
X_train[col_date]

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
84486,2017-04-01,1995-08-01,2017-12-01,2018-01-01,2017-12-01
37123,2017-06-01,1987-09-01,2017-12-01,2018-01-01,2017-12-01
150429,2017-02-01,2006-10-01,2017-12-01,2018-01-01,2017-12-01
649359,2016-03-01,2011-03-01,2016-09-01,NaT,2017-02-01
38987,2017-05-01,2012-09-01,2017-12-01,2018-01-01,2017-12-01
...,...,...,...,...,...
620130,2016-10-01,1988-08-01,2017-12-01,2018-01-01,2017-12-01
469068,2016-05-01,1997-12-01,2017-10-01,NaT,2017-10-01
708616,2016-02-01,2003-02-01,2016-11-01,NaT,2017-07-01
10601,2017-06-01,1999-05-01,2017-12-01,2018-01-01,2017-12-01
726539,2016-01-01,2002-04-01,2017-12-01,2018-01-01,2017-12-01

In [40]:
for col in X_test.select_dtypes(include= ['object', 'bool']).columns:
  print(col)
  print(X_test[col].unique())
  print()

term
['36 months' '60 months']

grade
['C' 'D' 'A' 'B' 'E' 'F' 'G']

sub_grade
['C1' 'D3' 'A4' 'D2' 'B4' 'C5' 'A5' 'D5' 'B2' 'D1' 'C2' 'B3' 'E2' 'B1'
 'D4' 'C3' 'E3' 'A1' 'F1' 'C4' 'A3' 'E5' 'B5' 'F4' 'G5' 'A2' 'E1' 'E4'
 'G4' 'G1' 'F2' 'F3' 'F5' 'G3' 'G2']

emp_title
['Collections' 'Licensed Practical Nurse' 'Director of Sales & Marketing'
 ... 'Training and Development officer' 'Assistant Corporation Counsel'
 'Piano Instructor']

emp_length
['1 year' '10+ years' '3 years' nan '2 years' '5 years' '6 years'
 '< 1 year' '4 years' '9 years' '8 years' '7 years']

home_ownership
['MORTGAGE' 'RENT' 'OWN' 'ANY']

verification_status
['Source Verified' 'Not Verified' 'Verified']

issue_d
['Oct-2016' 'May-2016' 'Feb-2017' 'Mar-2016' 'Jul-2017' 'Aug-2016'
 'Jan-2017' 'Apr-2017' 'Feb-2016' 'May-2017' 'Jan-2016' 'Sep-2017'
 'Aug-2017' 'Apr-2016' 'Mar-2017' 'Dec-2016' 'Jun-2016' 'Jul-2016'
 'Nov-2016' 'Jun-2017' 'Sep-2016']

loan_status
['Current' 'Late (31-120 days)' 'Fully Paid' 'Charged Off'
 'In Grace Period' 'Late (16-30 days)' 'Default']

pymnt_plan
['n' 'y']

purpose
['debt_consolidation' 'home_improvement' 'credit_card' 'medical'
 'vacation' 'other' 'car' 'major_purchase' 'small_business' 'moving'
 'house' 'renewable_energy']

title
['Debt consolidation' 'Home improvement' 'Credit card refinancing' 'Other'
 'Medical expenses' 'Vacation' nan 'Car financing' 'Major purchase'
 'Business' 'Moving and relocation' 'Home buying' 'Green loan'
 'Credit Card Consolidation']

zip_code
['386xx' '182xx' '564xx' '813xx' '100xx' '070xx' '043xx' '782xx' '368xx'
 '492xx' '104xx' '475xx' '207xx' '301xx' '656xx' '604xx' '334xx' '432xx'
 '774xx' '936xx' '921xx' '895xx' '370xx' '276xx' '217xx' '336xx' '750xx'
 '787xx' '926xx' '906xx' '112xx' '574xx' '770xx' '272xx' '891xx' '840xx'
 '303xx' '972xx' '773xx' '313xx' '349xx' '851xx' '630xx' '933xx' '194xx'
 '221xx' '982xx' '800xx' '945xx' '028xx' '218xx' '331xx' '788xx' '060xx'
 '431xx' '297xx' '580xx' '956xx' '781xx' '322xx' '041xx' '329xx' '902xx'
 '480xx' '191xx' '327xx' '212xx' '606xx' '985xx' '908xx' '286xx' '280xx'
 '760xx' '850xx' '463xx' '923xx' '802xx' '310xx' '302xx' '836xx' '357xx'
 '451xx' '160xx' '337xx' '613xx' '765xx' '442xx' '080xx' '339xx' '201xx'
 '843xx' '321xx' '165xx' '021xx' '323xx' '352xx' '797xx' '775xx' '482xx'
 '038xx' '890xx' '550xx' '953xx' '074xx' '970xx' '113xx' '852xx' '225xx'
 '785xx' '381xx' '786xx' '967xx' '917xx' '114xx' '111xx' '928xx' '127xx'
 '121xx' '959xx' '085xx' '064xx' '767xx' '622xx' '300xx' '588xx' '717xx'
 '617xx' '983xx' '371xx' '919xx' '377xx' '335xx' '484xx' '307xx' '063xx'
 '801xx' '324xx' '952xx' '210xx' '856xx' '439xx' '234xx' '900xx' '430xx'
 '088xx' '853xx' '076xx' '559xx' '752xx' '328xx' '020xx' '117xx' '365xx'
 '379xx' '405xx' '298xx' '598xx' '610xx' '380xx' '624xx' '441xx' '232xx'
 '680xx' '320xx' '685xx' '600xx' '330xx' '103xx' '701xx' '138xx' '450xx'
 '762xx' '238xx' '240xx' '383xx' '735xx' '363xx' '925xx' '483xx' '805xx'
 '344xx' '954xx' '010xx' '185xx' '211xx' '941xx' '557xx' '913xx' '124xx'
 '940xx' '530xx' '488xx' '553xx' '710xx' '783xx' '700xx' '743xx' '282xx'
 '971xx' '030xx' '312xx' '995xx' '134xx' '350xx' '308xx' '922xx' '180xx'
 '489xx' '605xx' '481xx' '304xx' '780xx' '633xx' '120xx' '067xx' '467xx'
 '461xx' '078xx' '820xx' '434xx' '019xx' '454xx' '169xx' '587xx' '968xx'
 '705xx' '547xx' '490xx' '342xx' '870xx' '932xx' '730xx' '601xx' '384xx'
 '931xx' '672xx' '116xx' '758xx' '107xx' '615xx' '421xx' '145xx' '631xx'
 '799xx' '532xx' '150xx' '871xx' '326xx' '444xx' '575xx' '195xx' '136xx'
 '378xx' '372xx' '927xx' '563xx' '859xx' '980xx' '285xx' '443xx' '424xx'
 '246xx' '156xx' '187xx' '296xx' '382xx' '125xx' '373xx' '440xx' '315xx'
 '325xx' '270xx' '472xx' '338xx' '105xx' '827xx' '231xx' '658xx' '029xx'
 '031xx' '960xx' '190xx' '275xx' '554xx' '614xx' '446xx' '855xx' '109xx'
 '333xx' '565xx' '864xx' '208xx' '068xx' '396xx' '410xx' '172xx' '946xx'
 '452xx' '720xx' '749xx' '670xx' '073xx' '456xx' '920xx' '265xx' '741xx'
 '129xx' '671xx' '110xx' '706xx' '464xx' '707xx' '183xx' '623xx' '660xx'
 '479xx' '577xx' '693xx' '140xx' '151xx' '291xx' '146xx' '077xx' '534xx'
 '930xx' '462xx' '761xx' '360xx' '295xx' '235xx' '582xx' '294xx' '712xx'
 '292xx' '551xx' '478xx' '756xx' '944xx' '376xx' '155xx' '176xx' '950xx'
 '934xx' '727xx' '540xx' '200xx' '126xx' '061xx' '224xx' '809xx' '254xx'
 '306xx' '027xx' '273xx' '674xx' '228xx' '721xx' '065xx' '394xx' '591xx'
 '935xx' '170xx' '681xx' '071xx' '045xx' '951xx' '435xx' '119xx' '838xx'
 '152xx' '347xx' '597xx' '162xx' '834xx' '193xx' '857xx' '640xx' '387xx'
 '351xx' '704xx' '907xx' '082xx' '319xx' '402xx' '629xx' '778xx' '293xx'
 '988xx' '346xx' '283xx' '714xx' '538xx' '017xx' '199xx' '724xx' '362xx'
 '469xx' '662xx' '223xx' '445xx' '841xx' '142xx' '981xx' '903xx' '822xx'
 '453xx' '544xx' '875xx' '023xx' '407xx' '460xx' '361xx' '844xx' '751xx'
 '491xx' '284xx' '163xx' '144xx' '955xx' '731xx' '167xx' '128xx' '612xx'
 '571xx' '226xx' '466xx' '115xx' '465xx' '477xx' '230xx' '018xx' '949xx'
 '062xx' '703xx' '305xx' '122xx' '826xx' '719xx' '609xx' '993xx' '558xx'
 '013xx' '914xx' '611xx' '385xx' '657xx' '860xx' '198xx' '653xx' '087xx'
 '025xx' '726xx' '299xx' '539xx' '740xx' '986xx' '957xx' '897xx' '161xx'
 '823xx' '420xx' '763xx' '173xx' '880xx' '106xx' '220xx' '415xx' '016xx'
 '026xx' '281xx' '066xx' '374xx' '847xx' '390xx' '757xx' '277xx' '673xx'
 '777xx' '667xx' '024xx' '403xx' '784xx' '608xx' '493xx' '616xx' '159xx'
 '837xx' '398xx' '474xx' '209xx' '436xx' '744xx' '984xx' '356xx' '130xx'
 '287xx' '664xx' '153xx' '494xx' '015xx' '973xx' '448xx' '560xx' '618xx'
 '206xx' '354xx' '495xx' '766xx' '395xx' '810xx' '958xx' '079xx' '905xx'
 '366xx' '531xx' '796xx' '722xx' '392xx' '164xx' '737xx' '548xx' '683xx'
 '654xx' '865xx' '069xx' '594xx' '271xx' '037xx' '054xx' '414xx' '535xx'
 '546xx' '806xx' '423xx' '711xx' '990xx' '171xx' '543xx' '341xx' '996xx'
 '014xx' '549xx' '537xx' '602xx' '915xx' '910xx' '794xx' '924xx' '562xx'
 '131xx' '148xx' '468xx' '241xx' '992xx' '898xx' '641xx' '236xx' '400xx'
 '939xx' '487xx' '473xx' '058xx' '189xx' '274xx' '675xx' '831xx' '222xx'
 '486xx' '567xx' '628xx' '244xx' '790xx' '149xx' '051xx' '288xx' '747xx'
 '072xx' '178xx' '748xx' '034xx' '233xx' '974xx' '216xx' '239xx' '754xx'
 '746xx' '652xx' '989xx' '317xx' '937xx' '245xx' '044xx' '607xx' '314xx'
 '647xx' '496xx' '677xx' '143xx' '816xx' '242xx' '894xx' '427xx' '804xx'
 '416xx' '243xx' '723xx' '075xx' '011xx' '147xx' '768xx' '497xx' '811xx'
 '791xx' '815xx' '229xx' '745xx' '883xx' '729xx' '186xx' '997xx' '139xx'
 '824xx' '086xx' '141xx' '290xx' '678xx' '603xx' '498xx' '829xx' '458xx'
 '389xx' '422xx' '975xx' '977xx' '625xx' '586xx' '123xx' '108xx' '052xx'
 '433xx' '391xx' '545xx' '948xx' '318xx' '863xx' '961xx' '619xx' '814xx'
 '584xx' '583xx' '278xx' '666xx' '101xx' '158xx' '118xx' '012xx' '359xx'
 '047xx' '542xx' '541xx' '174xx' '039xx' '502xx' '268xx' '626xx' '779xx'
 '648xx' '309xx' '406xx' '197xx' '620xx' '776xx' '759xx' '132xx' '175xx'
 '645xx' '873xx' '133xx' '355xx' '644xx' '412xx' '471xx' '137xx' '593xx'
 '457xx' '916xx' '728xx' '033xx' '947xx' '636xx' '713xx' '393xx' '279xx'
 '918xx' '581xx' '413xx' '689xx' '397xx' '912xx' '476xx' '585xx' '083xx'
 '708xx' '978xx' '470xx' '572xx' '881xx' '032xx' '638xx' '411xx' '166xx'
 '755xx' '976xx' '650xx' '316xx' '358xx' '089xx' '438xx' '154xx' '904xx'
 '092xx' '437xx' '184xx' '793xx' '691xx' '214xx' '485xx' '056xx' '979xx'
 '874xx' '040xx' '627xx' '686xx' '036xx' '057xx' '911xx' '676xx' '090xx'
 '409xx' '408xx' '046xx' '832xx' '455xx' '882xx' '655xx' '764xx' '803xx'
 '084xx' '168xx' '825xx' '081xx' '570xx' '042xx' '991xx' '447xx' '634xx'
 '401xx' '157xx' '716xx' '566xx' '049xx' '340xx' '665xx' '177xx' '795xx'
 '261xx' '260xx' '807xx' '499xx' '812xx' '828xx' '053xx' '267xx' '808xx'
 '592xx' '219xx' '367xx' '102xx' '846xx' '718xx' '590xx' '687xx' '725xx'
 '661xx' '255xx' '196xx' '135xx' '388xx' '639xx' '835xx' '646xx' '734xx'
 '769xx' '247xx' '599xx' '404xx' '264xx' '253xx' '050xx' '449xx' '425xx'
 '688xx' '668xx' '181xx' '179xx' '651xx' '227xx' '998xx' '999xx' '739xx'
 '596xx' '561xx' '215xx' '943xx' '789xx' '679xx' '845xx' '595xx' '048xx'
 '637xx' '237xx' '893xx' '684xx' '188xx' '692xx' '022xx' '035xx' '573xx'
 '258xx' '690xx' '738xx' '252xx' '833xx' '994xx' '772xx' '251xx' '576xx'
 '798xx' '426xx' '753xx' '877xx' '556xx' '364xx' '965xx' '009xx' '736xx'
 '884xx' '879xx' '635xx' '792xx' '263xx' '059xx' '257xx' '289xx' '259xx'
 '369xx' '332xx' '963xx' '417xx' '250xx' '669xx' '262xx' '097xx' '348xx'
 '418xx' '698xx' '249xx' '256xx' '821xx' '830xx' '353xx' '854xx' '569xx'
 '515xx' '098xx' '878xx' '091xx' '096xx' '872xx' '094xx' '203xx' '248xx'
 '696xx' '552xx' '969xx' '942xx']

addr_state
['MS' 'PA' 'MN' 'CO' 'NY' 'NJ' 'ME' 'TX' 'AL' 'MI' 'IN' 'MD' 'GA' 'MO'
 'IL' 'FL' 'OH' 'CA' 'NV' 'TN' 'NC' 'SD' 'UT' 'OR' 'AZ' 'VA' 'WA' 'RI'
 'CT' 'SC' 'ND' 'ID' 'MA' 'NH' 'HI' 'AR' 'KY' 'MT' 'NE' 'LA' 'OK' 'WI'
 'AK' 'WY' 'NM' 'KS' 'WV' 'DC' 'DE' 'VT']

earliest_cr_line
['Oct-2002' 'Apr-2000' 'Oct-2003' 'Feb-1998' 'Dec-1993' 'Nov-2009'
 'Sep-2003' 'May-2005' 'Feb-1989' 'Aug-2005' 'Aug-2004' 'May-2000'
 'Jul-2002' 'Jan-1998' 'Aug-2003' 'Dec-2002' 'Aug-1999' 'Mar-1993'
 'Aug-2006' 'Dec-2008' 'Oct-2005' 'Jun-1986' 'Oct-2006' 'Nov-2001'
 'Mar-2002' 'Dec-1999' 'Jan-1989' 'Jan-2001' 'May-2003' 'Feb-2004'
 'Nov-2005' 'May-2008' 'Sep-1994' 'Sep-1998' 'Dec-2000' 'May-1992'
 'Jun-2004' 'Sep-1997' 'Mar-1984' 'Nov-1987' 'May-2004' 'May-1990'
 'Jun-2001' 'May-2002' 'Aug-1986' 'May-1988' 'Feb-2000' 'Jun-2005'
 'Jan-2002' 'Jul-2001' 'Nov-1994' 'Nov-2008' 'Sep-1976' 'Jul-1987'
 'Apr-2007' 'Jun-1992' 'Aug-1996' 'Jan-1999' 'Mar-2014' 'Mar-2001'
 'Mar-2000' 'Aug-1978' 'Oct-1997' 'May-1998' 'Jul-1995' 'Aug-1997'
 'Mar-2008' 'Nov-2006' 'Aug-2009' 'Oct-2010' 'Jun-2003' 'Sep-2004'
 'Dec-1994' 'Jul-1996' 'Jul-1997' 'Sep-2000' 'Jul-1994' 'Aug-1990'
 'Apr-1997' 'Apr-1996' 'Sep-2012' 'Jul-1982' 'Oct-1990' 'Aug-1985'
 'May-1995' 'Jun-1995' 'Jul-2009' 'Oct-1996' 'Feb-1968' 'Jul-1999'
 'Nov-1997' 'Sep-2005' 'Sep-1993' 'Jul-1998' 'Oct-2004' 'Dec-1990'
 'Feb-2002' 'May-1993' 'Aug-2001' 'Jun-2007' 'May-1999' 'Feb-1994'
 'Aug-1994' 'May-2010' 'Feb-2005' 'Jul-2007' 'Aug-2010' 'Jul-2005'
 'Sep-2001' 'Mar-1983' 'Jun-2008' 'Aug-2000' 'Jul-1983' 'Jan-2014'
 'Oct-2001' 'Sep-1989' 'Jun-2002' 'Oct-1995' 'Mar-1999' 'Dec-2010'
 'Nov-1996' 'Nov-1992' 'Nov-2007' 'Aug-1995' 'Feb-2007' 'Jul-2006'
 'Jan-2004' 'Sep-1999' 'Jul-2003' 'Dec-2012' 'May-1975' 'Jul-2004'
 'Oct-1989' 'May-2009' 'Nov-2003' 'Jan-1991' 'Jun-2000' 'Jul-2011'
 'Jul-1989' 'Apr-1998' 'Apr-2003' 'Apr-1999' 'Oct-1992' 'Oct-1987'
 'Aug-1977' 'Aug-2007' 'Jul-1990' 'Nov-2004' 'Apr-1990' 'Jan-2003'
 'Jun-1996' 'Jun-1999' 'Apr-2006' 'Dec-2001' 'Apr-2011' 'Feb-2003'
 'Dec-2004' 'Jan-1987' 'Apr-1991' 'Mar-2003' 'Sep-2007' 'Oct-1994'
 'Jan-2006' 'Sep-2006' 'Mar-2006' 'Nov-1999' 'Oct-2009' 'Jun-1997'
 'Sep-2002' 'Jun-2006' 'Sep-1980' 'Aug-1998' 'Apr-1987' 'Dec-1998'
 'Jan-2007' 'May-1994' 'Apr-1994' 'Dec-1995' 'Jan-1994' 'May-2006'
 'Nov-1983' 'May-1997' 'Sep-1981' 'Apr-2005' 'Feb-2001' 'Mar-1994'
 'Oct-2013' 'Mar-1997' 'Jul-2008' 'Dec-2003' 'Jul-1993' 'Feb-2013'
 'Aug-1993' 'Jun-2010' 'Jun-1985' 'Nov-1995' 'Mar-1990' 'Sep-2008'
 'May-2007' 'Oct-2000' 'Jul-2010' 'Sep-1991' 'Jun-1998' 'Oct-1981'
 'Sep-1990' 'Dec-2005' 'Oct-2012' 'Sep-2011' 'May-2011' 'Jul-2000'
 'Jan-1997' 'Oct-1993' 'Apr-1975' 'Dec-1996' 'Dec-1989' 'Dec-2006'
 'May-2001' 'Jun-2013' 'Feb-2008' 'Mar-1989' 'Sep-1979' 'Nov-1984'
 'Jan-1983' 'Mar-2004' 'Oct-1998' 'Feb-2006' 'Dec-2011' 'Dec-2013'
 'Dec-2007' 'Aug-1989' 'Aug-2011' 'Sep-2013' 'Dec-1982' 'Mar-2007'
 'Oct-1986' 'Nov-2002' 'Apr-2009' 'Feb-2009' 'Aug-2014' 'Aug-2002'
 'Oct-1999' 'Dec-1997' 'Feb-2010' 'Jul-2013' 'Dec-1991' 'Oct-2011'
 'Nov-1990' 'Jun-1989' 'Jan-2000' 'Mar-1988' 'Sep-1996' 'Sep-2009'
 'Jun-1984' 'Jul-2012' 'Jan-1995' 'Jan-2009' 'Mar-1979' 'Nov-2000'
 'Apr-2002' 'Feb-1999' 'Mar-2012' 'Sep-1995' 'Aug-1988' 'May-1973'
 'Oct-1980' 'Jan-2005' 'Sep-1983' 'Nov-1982' 'Dec-1979' 'Jul-1988'
 'Feb-1997' 'Aug-1982' 'Feb-1992' 'Dec-1992' 'Jan-1988' 'Mar-2009'
 'Oct-1991' 'Jun-2012' 'Mar-1991' 'May-1991' 'Nov-1998' 'Dec-1987'
 'Jun-1987' 'Sep-1992' 'Apr-2012' 'Apr-2013' 'Oct-1988' 'Feb-1995'
 'Sep-1975' 'Mar-1998' 'Nov-2011' 'Sep-1988' 'Feb-1993' 'Oct-2007'
 'Apr-2010' 'Apr-1993' 'Sep-1974' 'Apr-1986' 'May-1987' 'Mar-1992'
 'Mar-2005' 'Feb-1991' 'Jun-1994' 'Mar-2010' 'Sep-2010' 'Apr-2001'
 'Feb-1979' 'Jun-2009' 'May-1996' 'Jul-1992' 'Sep-1978' 'Aug-1992'
 'Jan-2011' 'Apr-1985' 'Nov-1993' 'Jul-1991' 'Mar-1987' 'Sep-1984'
 'Jan-1993' 'Jan-1992' 'Nov-1972' 'May-1979' 'Jun-1993' 'Sep-1986'
 'Jul-1979' 'Jul-1986' 'Jan-2012' 'Jan-1996' 'Jun-1979' 'Apr-1995'
 'Aug-1980' 'Jun-1982' 'Apr-2008' 'Mar-1996' 'Feb-1996' 'Aug-1983'
 'Mar-1995' 'Jan-2008' 'Feb-1982' 'Oct-2008' 'Jan-1985' 'Dec-2009'
 'Nov-1991' 'Apr-2004' 'Oct-1984' 'Nov-2013' 'Nov-1989' 'Aug-1991'
 'Jan-1990' 'Jun-1976' 'Feb-1976' 'Nov-2012' 'Apr-1989' 'Apr-1988'
 'Jan-1976' 'Mar-2011' 'Aug-1984' 'Mar-1981' 'Mar-1985' 'May-1989'
 'Jun-1991' 'Nov-1988' 'Jan-1963' 'Apr-1992' 'Nov-2010' 'Feb-1988'
 'Dec-1973' 'Aug-2008' 'May-2012' 'Aug-1987' 'Feb-1987' 'Feb-1986'
 'Feb-2011' 'Nov-1977' 'Aug-1979' 'Nov-1986' 'Nov-1985' 'Mar-2013'
 'Jan-2010' 'Jun-2011' 'Jul-1970' 'Mar-1982' 'Feb-2012' 'Oct-1973'
 'Dec-1988' 'Apr-1978' 'Aug-2013' 'Oct-1982' 'Feb-1980' 'Sep-1982'
 'Feb-1990' 'May-1977' 'May-1984' 'Apr-1982' 'Mar-1980' 'Aug-1981'
 'Jun-1988' 'Jun-1970' 'Nov-1979' 'Feb-1983' 'May-1968' 'Aug-2012'
 'Apr-1984' 'Sep-1985' 'Jun-1983' 'May-1985' 'Jun-1969' 'Jan-2013'
 'Sep-1987' 'Mar-1968' 'Jun-1990' 'Jun-1980' 'Mar-1986' 'Dec-1986'
 'Oct-1983' 'Jun-1978' 'Jan-1980' 'Apr-1974' 'May-2013' 'Dec-1985'
 'May-1980' 'Aug-1973' 'Mar-1965' 'Nov-1973' 'Jul-1977' 'May-1982'
 'May-1986' 'May-1962' 'Oct-1979' 'Jul-1984' 'Mar-1977' 'Jan-1962'
 'Dec-1980' 'Jul-1973' 'Oct-1976' 'Sep-1973' 'Aug-1976' 'Feb-1985'
 'Feb-2014' 'Oct-1985' 'Dec-1983' 'Dec-1977' 'Mar-1978' 'Feb-1981'
 'Mar-1933' 'Jan-1982' 'Sep-1969' 'Jan-1979' 'Jun-1977' 'May-1981'
 'May-1971' 'Jan-1978' 'Nov-1974' 'Dec-1971' 'Mar-1966' 'Apr-1971'
 'Mar-1974' 'Jun-1966' 'Jan-1969' 'Jul-1975' 'Nov-1981' 'Oct-1977'
 'Dec-1969' 'Dec-1984' 'May-1976' 'May-1983' 'Jan-1984' 'Jul-1971'
 'Oct-1978' 'Apr-1980' 'Jun-1974' 'Mar-1964' 'Dec-1981' 'Jul-1981'
 'Feb-1978' 'Jun-1981' 'Apr-1979' 'Jul-1985' 'Jun-1975' 'Jan-1986'
 'Feb-1973' 'Dec-1974' 'Jan-1981' 'Dec-1976' 'Jul-2014' 'Sep-1966'
 'Apr-2014' 'Feb-1972' 'Feb-1984' 'Apr-1983' 'Apr-1973' 'Apr-1977'
 'Nov-1975' 'Jul-1980' 'Dec-1967' 'Oct-1969' 'Aug-1974' 'Mar-1970'
 'Jun-1972' 'Dec-1959' 'Sep-1977' 'Aug-1969' 'Apr-1968' 'Dec-1975'
 'Jan-1967' 'Jul-1967' 'Jan-1971' 'Aug-1970' 'Jul-1963' 'Nov-1978'
 'Jun-1964' 'Jan-1966' 'Jan-1973' 'Jul-1968' 'Nov-1980' 'May-1974'
 'Dec-1978' 'Apr-1963' 'Sep-1970' 'Jan-1965' 'Mar-1973' 'Nov-1976'
 'Oct-1972' 'Jun-2014' 'Oct-1970' 'Apr-1981' 'Feb-1974' 'May-2014'
 'Sep-1971' 'Jan-1977' 'Jul-1978' 'Aug-1963' 'Feb-1975' 'Jan-1970'
 'Mar-1976' 'Mar-1975' 'Sep-1972' 'Apr-1976' 'May-1978' 'May-1967'
 'Feb-1970' 'Aug-1966' 'Feb-1971' 'Aug-1967' 'Nov-1969' 'Jan-1968'
 'Aug-1968' 'Apr-1966' 'Oct-1974' 'Apr-1969' 'Oct-1975' 'Jul-1976'
 'Aug-1962' 'Mar-1972' 'May-1970' 'Jun-1971' 'Nov-1971' 'May-1972'
 'May-1969' 'Sep-1963' 'Aug-1965' 'Mar-1967' 'Jun-1967' 'Oct-1965'
 'Jul-1964' 'Jul-1972' 'Feb-1977' 'Dec-1972' 'Mar-1971' 'Oct-1971'
 'Aug-1971' 'Apr-1972' 'Jan-1972' 'Feb-1967' 'Nov-1970' 'May-1964'
 'May-1959' 'Jan-1974' 'Jul-1969' 'Mar-1960' 'Apr-1967' 'Nov-1967'
 'Oct-1964' 'Oct-1968' 'Dec-1960' 'Nov-1968' 'Feb-1945' 'Nov-1962'
 'Apr-1970' 'Sep-1968' 'Jun-1973' 'Jul-1974' 'Dec-1965' 'Sep-1965'
 'Dec-1968' 'Feb-1965' 'Jan-1955' 'Sep-1967' 'Apr-1958' 'Aug-1972'
 'Aug-1975' 'May-1966' 'Dec-1970' 'Oct-1958' 'Feb-1966' 'Oct-1966'
 'Jan-1964' 'Jan-1960' 'Mar-1963' 'Jan-1975' 'Mar-1969' 'Apr-1964'
 'Jan-1950' 'Jul-1965' 'Jun-1968' 'Jan-1961' 'Nov-1966' 'Nov-1965'
 'Feb-1963' 'Sep-1962' 'Apr-1961' 'Dec-1966' 'Jul-1961' 'Mar-1959'
 'Mar-1957' 'May-1965' 'Apr-1965' 'Feb-1969' 'Aug-1958' 'Oct-1967'
 'May-1961' 'Dec-1962' 'Jan-1959' 'Feb-1964' 'Jun-1965' 'Jul-1962'
 'Oct-1962' 'Jun-1957' 'Jul-1959' 'Jul-1960' 'Nov-1964' 'Dec-1964'
 'Jul-1966' 'Nov-1963' 'Jan-1956' 'Mar-1961']

initial_list_status
['w' 'f']

last_pymnt_d
['Dec-2017' 'Aug-2017' 'Aug-2016' 'Sep-2016' 'Jun-2017' 'Nov-2017'
 'May-2017' 'Oct-2017' 'Mar-2017' 'Jun-2016' 'Apr-2017' 'Jul-2017'
 'Feb-2017' 'Oct-2016' 'Jan-2017' 'Sep-2017' 'Nov-2016' 'Dec-2016'
 'Apr-2016' nan 'Feb-2016' 'Mar-2016' 'Jul-2016' 'May-2016' 'Jan-2016']

next_pymnt_d
['Jan-2018' nan 'Feb-2018' 'Dec-2017']

last_credit_pull_d
['Dec-2017' 'Jun-2017' 'Nov-2017' 'May-2017' 'Jul-2017' 'Oct-2017'
 'Dec-2016' 'Jan-2017' 'Oct-2016' 'Aug-2017' 'Feb-2017' 'Sep-2017'
 'Apr-2017' 'Mar-2017' 'Nov-2016' 'Jul-2016' 'Jun-2016' 'Aug-2016'
 'Sep-2016' 'Apr-2016' 'May-2016' 'Mar-2016' 'Jan-2016' 'Feb-2016' nan
 'Dec-2015']

application_type
['Individual' 'Joint App']

In [41]:
X_test['term'] = pd.to_numeric(X_test['term'].str.replace('months', ''))

In [42]:
X_test['emp_length'] = X_test['emp_length'].str.replace('+ years', '')
X_test['emp_length'] = X_test['emp_length'].str.replace(' years', '')
X_test['emp_length'] = X_test['emp_length'].str.replace('< 1 year', str(0))
X_test['emp_length'] = X_test['emp_length'].str.replace(' year', '')

X_test['emp_length'] = X_test['emp_length'].fillna(0)

X_test['emp_length'] = pd.to_numeric(X_test['emp_length'])

In [43]:
for col in col_date:
    X_test[col] = pd.to_datetime(X_test[col])

C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_13824\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])

In [44]:
X_test[col_need_to_clean].info()

<class 'pandas.core.frame.DataFrame'>
Index: 151868 entries, 610224 to 344618
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   term                151868 non-null  int64
 1   emp_length          151868 non-null  int64
 2   issue_d             151868 non-null  datetime64[ns]
 3   earliest_cr_line    151868 non-null  datetime64[ns]
 4   last_pymnt_d        151653 non-null  datetime64[ns]
 5   next_pymnt_d        118463 non-null  datetime64[ns]
 6   last_credit_pull_d  151866 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(2)
memory usage: 9.3 MB

### 6 Feature Engineering

In [45]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((607470, 65), (607470, 1), (151868, 65), (151868, 1))

In [46]:
col_need_to_clean

['term',
 'emp_length',
 'issue_d',
 'earliest_cr_line',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d']

In [47]:
X_train = X_train[col_need_to_clean]
X_test = X_test[col_need_to_clean]

In [48]:
del X_train['next_pymnt_d']
del X_test['next_pymnt_d']

In [49]:
X_train.shape, X_test.shape

((607470, 6), (151868, 6))

In [52]:
from datetime import date
date.today().strftime('%Y-%m-%d')

'2024-06-12'

In [ ]:
def date_columns(df, column):
    today_date = pd.to_datetime(date.today().strftime('%Y-%m-%d'))
    df['mths_since_' + column = round(today_date - df[column])]
    df.drop(columns = [column], inplace=True)

date_columns

In [53]:
pd.to_datetime(date.today().strftime('%Y-%m-%d')) - pd.to_datetime('2017-04-01')

Timedelta('2629 days 00:00:00')

In [50]:
X_train

,term,emp_length,issue_d,earliest_cr_line,last_pymnt_d,last_credit_pull_d
84486,60,4,2017-04-01,1995-08-01,2017-12-01,2017-12-01
37123,60,10,2017-06-01,1987-09-01,2017-12-01,2017-12-01
150429,36,4,2017-02-01,2006-10-01,2017-12-01,2017-12-01
649359,60,3,2016-03-01,2011-03-01,2016-09-01,2017-02-01
38987,60,0,2017-05-01,2012-09-01,2017-12-01,2017-12-01
...,...,...,...,...,...,...
620130,36,8,2016-10-01,1988-08-01,2017-12-01,2017-12-01
469068,36,10,2016-05-01,1997-12-01,2017-10-01,2017-10-01
708616,36,10,2016-02-01,2003-02-01,2016-11-01,2017-07-01
10601,36,4,2017-06-01,1999-05-01,2017-12-01,2017-12-01
726539,60,2,2016-01-01,2002-04-01,2017-12-01,2017-12-01