## Credit Risk Model

### Dataset, Target Variable, and Missing Value

In [323]:
import numpy as np
import pandas as pd

import os

In [324]:
os.listdir()

['.git',
 'lc_2016_2017.csv',
 'lc_loan.csv',
 'new.html',
 'Pengenalan Dataset, Target Variable, dan Missing Values.ipynb',
 'us-state-codes.csv']

In [325]:
loan_data = pd.read_csv('lc_2016_2017.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_6324\4234444771.py:1: DtypeWarning: Columns (18,54) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data = pd.read_csv('lc_2016_2017.csv')

In [326]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,112435993,NaN,2300,2300,2300.0,36 months,12.62,77.08,C,C1,...,0.0,NaN,1.0,2.0,2315.0,55.0,7100.0,1.0,0.0,2.0
1,112290210,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,...,11078.0,69.0,3.0,5.0,1962.0,94.0,31900.0,0.0,6.0,1.0
2,112436985,NaN,6025,6025,6025.0,36 months,15.05,209.01,C,C4,...,0.0,NaN,1.0,2.0,1950.0,45.0,27700.0,1.0,5.0,3.0
3,112439006,NaN,20400,20400,20400.0,36 months,9.44,652.91,B,B1,...,53566.0,95.0,1.0,2.0,4240.0,60.0,46900.0,1.0,1.0,1.0
4,112438929,NaN,13000,13000,13000.0,36 months,11.99,431.73,B,B5,...,8466.0,72.0,0.0,1.0,2996.0,78.0,7800.0,0.0,0.0,0.0

In [327]:
loan_data.shape

(759338, 72)

In [328]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

In [329]:
loan_data.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [330]:
loan_data['good_bad'] = np.where(loan_data.loc[:, 'loan_status'].isin(['Charged off', 'Default',
                                                                       'Late (31-120 days)', 'Late (16-30 days)']), 0, 1)

In [331]:
loan_data.good_bad.value_counts()

good_bad
1    740072
0     19266
Name: count, dtype: int64

In [332]:
loan_data[['loan_status', 'good_bad']]

              loan_status  good_bad
0                 Current         1
1                 Current         1
2                 Current         1
3                 Current         1
4                 Current         1
...                   ...       ...
759333            Current         1
759334            Current         1
759335  Late (16-30 days)         0
759336            Current         1
759337            Current         1

[759338 rows x 2 columns]

In [333]:
missing_values = pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0])

In [334]:
missing_values = missing_values[missing_values.iloc[:,0] > 0.50]

In [335]:
missing_values.sort_values([0], ascending = False)

                                    0
member_id                    1.000000
desc                         0.999978
dti_joint                    0.955223
annual_inc_joint             0.955220
verification_status_joint    0.955220
mths_since_last_record       0.814076
mths_since_last_major_derog  0.716720

In [336]:
loan_data.dropna(thresh = loan_data.shape[0]*0.5, axis = 1, inplace = True)

In [337]:
missing_values = pd.DataFrame(loan_data.isnull().sum()/loan_data.shape[0])
missing_values = missing_values[missing_values.iloc[:,0] > 0.50]
missing_values.sort_values([0], ascending = False)

Empty DataFrame
Columns: [0]
Index: []

In [338]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 66 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          759338 non-null  int64
 1   loan_amnt                   759338 non-null  int64
 2   funded_amnt                 759338 non-null  int64
 3   funded_amnt_inv             759338 non-null  float64
 4   term                        759338 non-null  object
 5   int_rate                    759338 non-null  float64
 6   installment                 759338 non-null  float64
 7   grade                       759338 non-null  object
 8   sub_grade                   759338 non-null  object
 9   emp_title                   708368 non-null  object
 10  emp_length                  708975 non-null  object
 11  home_ownership              759338 non-null  object
 12  annual_inc                  759338 non-null  float64
 13  verification_status         759338 non-null  object
 14  issue_d                     759338 non-null  object
 15  loan_status                 759338 non-null  object
 16  pymnt_plan                  759338 non-null  object
 17  purpose                     759338 non-null  object
 18  title                       736165 non-null  object
 19  zip_code                    759337 non-null  object
 20  addr_state                  759338 non-null  object
 21  dti                         758983 non-null  float64
 22  delinq_2yrs                 759338 non-null  int64
 23  earliest_cr_line            759338 non-null  object
 24  inq_last_6mths              759337 non-null  float64
 25  mths_since_last_delinq      396633 non-null  float64
 26  open_acc                    759338 non-null  int64
 27  pub_rec                     759338 non-null  int64
 28  revol_bal                   759338 non-null  float64
 29  revol_util                  758821 non-null  float64
 30  total_acc                   759338 non-null  int64
 31  initial_list_status         759338 non-null  object
 32  out_prncp                   759338 non-null  float64
 33  out_prncp_inv               759338 non-null  float64
 34  total_pymnt                 759338 non-null  float64
 35  total_pymnt_inv             759338 non-null  float64
 36  total_rec_prncp             759338 non-null  float64
 37  total_rec_int               759338 non-null  float64
 38  total_rec_late_fee          759338 non-null  float64
 39  recoveries                  759338 non-null  float64
 40  collection_recovery_fee     759338 non-null  float64
 41  last_pymnt_d                758390 non-null  object
 42  last_pymnt_amnt             759338 non-null  float64
 43  next_pymnt_d                591423 non-null  object
 44  last_credit_pull_d          759320 non-null  object
 45  collections_12_mths_ex_med  759338 non-null  int64
 46  policy_code                 759338 non-null  int64
 47  application_type            759338 non-null  object
 48  acc_now_delinq              759338 non-null  int64
 49  tot_coll_amt                759338 non-null  float64
 50  tot_cur_bal                 759338 non-null  float64
 51  open_acc_6m                 759276 non-null  float64
 52  open_il_12m                 759277 non-null  float64
 53  open_il_24m                 759277 non-null  float64
 54  mths_since_rcnt_il          738795 non-null  float64
 55  total_bal_il                759277 non-null  float64
 56  il_util                     658743 non-null  float64
 57  open_rv_12m                 759277 non-null  float64
 58  open_rv_24m                 759277 non-null  float64
 59  max_bal_bc                  759277 non-null  float64
 60  all_util                    759224 non-null  float64
 61  total_rev_hi_lim            759338 non-null  float64
 62  inq_fi                      759277 non-null  float64
 63  total_cu_tl                 759276 non-null  float64
 64  inq_last_12m                759276 non-null  float64
 65  good_bad                    759338 non-null  int32
dtypes: float64(35), int32(1), int64(10), object(20)
memory usage: 379.5+ MB

### 4 Data Splitting

In [339]:
loan_data.shape

(759338, 66)

In [340]:
from sklearn.model_selection import train_test_split

In [341]:
# Membagi data menjadi 80% train set dan 20% test set
X = loan_data.drop('good_bad', axis = 1)
y = loan_data[['good_bad']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, stratify = y, random_state= 42)

In [342]:
X_train.shape, X_test.shape

((379669, 65), (379669, 65))

In [343]:
y_train.shape, y_test.shape

((379669, 1), (379669, 1))

In [344]:
y_train.value_counts(normalize = True)

good_bad
1           0.974628
0           0.025372
Name: proportion, dtype: float64

In [345]:
y_test.value_counts(normalize = True)

good_bad
1           0.974628
0           0.025372
Name: proportion, dtype: float64

### 5 Data Cleaning

In [346]:
X_train.shape

(379669, 65)

In [347]:
for col in X_train.select_dtypes(include= ['object', 'bool']).columns:
  print(col)
  print(X_train[col].unique())
  print()

term
['36 months' '60 months']

grade
['C' 'D' 'B' 'F' 'A' 'E' 'G']

sub_grade
['C1' 'C3' 'D2' 'B2' 'C4' 'C2' 'F5' 'A4' 'F1' 'D1' 'B5' 'A5' 'B4' 'E4'
 'B3' 'E1' 'E3' 'A1' 'F3' 'B1' 'D5' 'D3' 'A2' 'C5' 'G4' 'F2' 'D4' 'A3'
 'G1' 'E2' 'E5' 'G2' 'G5' 'F4' 'G3']

emp_title
['Bookkeeper' 'Real Estate Broker' 'Graphic Designer/ Bookkeeper' ...
 'Manager for safety/security/risk' 'Lead op. Tech'
 'IT Automation Specialist']

emp_length
['2 years' '5 years' '10+ years' '9 years' nan '1 year' '< 1 year'
 '3 years' '7 years' '6 years' '4 years' '8 years']

home_ownership
['MORTGAGE' 'RENT' 'OWN' 'ANY' 'NONE']

verification_status
['Verified' 'Not Verified' 'Source Verified']

issue_d
['Apr-2017' 'Nov-2016' 'Mar-2016' 'Jan-2016' 'Jun-2017' 'Jul-2017'
 'Dec-2016' 'Aug-2016' 'Mar-2017' 'May-2016' 'Sep-2017' 'Jul-2016'
 'Apr-2016' 'Sep-2016' 'Jan-2017' 'Feb-2016' 'May-2017' 'Oct-2016'
 'Feb-2017' 'Aug-2017' 'Jun-2016']

loan_status
['Current' 'Charged Off' 'Fully Paid' 'Late (31-120 days)'
 'In Grace Period' 'Late (16-30 days)' 'Default']

pymnt_plan
['n' 'y']

purpose
['debt_consolidation' 'other' 'credit_card' 'home_improvement' 'medical'
 'small_business' 'moving' 'vacation' 'major_purchase' 'house' 'car'
 'renewable_energy' 'wedding']

title
['Debt consolidation' 'Other' 'Credit card refinancing' 'Home improvement'
 'Medical expenses' 'Business' 'Moving and relocation' 'Vacation'
 'Major purchase' nan 'Home buying' 'Car financing' 'Green loan']

zip_code
['707xx' '972xx' '381xx' '750xx' '450xx' '281xx' '021xx' '018xx' '958xx'
 '600xx' '773xx' '349xx' '112xx' '331xx' '604xx' '206xx' '775xx' '231xx'
 '356xx' '956xx' '802xx' '721xx' '019xx' '471xx' '410xx' '945xx' '726xx'
 '454xx' '140xx' '617xx' '201xx' '105xx' '194xx' '946xx' '607xx' '053xx'
 '341xx' '193xx' '850xx' '532xx' '563xx' '951xx' '907xx' '178xx' '921xx'
 '930xx' '928xx' '840xx' '075xx' '601xx' '207xx' '361xx' '195xx' '606xx'
 '114xx' '605xx' '770xx' '391xx' '107xx' '334xx' '371xx' '088xx' '329xx'
 '751xx' '629xx' '306xx' '070xx' '372xx' '922xx' '939xx' '190xx' '890xx'
 '310xx' '024xx' '245xx' '321xx' '109xx' '535xx' '917xx' '796xx' '276xx'
 '120xx' '141xx' '327xx' '023xx' '799xx' '760xx' '333xx' '927xx' '977xx'
 '325xx' '316xx' '801xx' '282xx' '807xx' '940xx' '144xx' '238xx' '302xx'
 '054xx' '719xx' '781xx' '180xx' '483xx' '554xx' '610xx' '200xx' '338xx'
 '342xx' '063xx' '630xx' '900xx' '786xx' '068xx' '752xx' '064xx' '489xx'
 '481xx' '218xx' '370xx' '014xx' '460xx' '905xx' '662xx' '211xx' '562xx'
 '156xx' '307xx' '230xx' '182xx' '766xx' '980xx' '301xx' '300xx' '968xx'
 '925xx' '705xx' '322xx' '275xx' '028xx' '704xx' '449xx' '727xx' '308xx'
 '072xx' '453xx' '336xx' '913xx' '360xx' '011xx' '346xx' '631xx' '392xx'
 '441xx' '456xx' '153xx' '974xx' '138xx' '152xx' '895xx' '197xx' '926xx'
 '031xx' '145xx' '455xx' '577xx' '658xx' '941xx' '908xx' '853xx' '344xx'
 '330xx' '464xx' '142xx' '130xx' '891xx' '080xx' '553xx' '305xx' '160xx'
 '217xx' '809xx' '146xx' '104xx' '992xx' '820xx' '113xx' '970xx' '894xx'
 '129xx' '351xx' '564xx' '531xx' '656xx' '125xx' '077xx' '681xx' '283xx'
 '467xx' '115xx' '290xx' '625xx' '763xx' '087xx' '782xx' '722xx' '731xx'
 '121xx' '280xx' '936xx' '350xx' '983xx' '174xx' '119xx' '432xx' '185xx'
 '551xx' '902xx' '923xx' '833xx' '083xx' '294xx' '015xx' '776xx' '431xx'
 '373xx' '430xx' '364xx' '806xx' '314xx' '793xx' '117xx' '700xx' '029xx'
 '154xx' '380xx' '703xx' '395xx' '967xx' '012xx' '171xx' '216xx' '187xx'
 '065xx' '832xx' '688xx' '150xx' '660xx' '674xx' '496xx' '548xx' '774xx'
 '040xx' '988xx' '176xx' '547xx' '661xx' '074xx' '136xx' '319xx' '788xx'
 '911xx' '995xx' '599xx' '189xx' '762xx' '841xx' '255xx' '745xx' '161xx'
 '335xx' '299xx' '347xx' '756xx' '378xx' '975xx' '855xx' '445xx' '337xx'
 '863xx' '947xx' '352xx' '407xx' '038xx' '486xx' '076xx' '748xx' '100xx'
 '243xx' '778xx' '228xx' '712xx' '060xx' '420xx' '223xx' '785xx' '981xx'
 '920xx' '640xx' '857xx' '010xx' '273xx' '421xx' '671xx' '791xx' '706xx'
 '124xx' '106xx' '810xx' '376xx' '086xx' '440xx' '271xx' '073xx' '620xx'
 '935xx' '111xx' '017xx' '851xx' '615xx' '724xx' '227xx' '530xx' '212xx'
 '110xx' '787xx' '030xx' '163xx' '134xx' '417xx' '747xx' '730xx' '627xx'
 '383xx' '317xx' '324xx' '027xx' '468xx' '170xx' '131xx' '950xx' '025xx'
 '458xx' '558xx' '444xx' '800xx' '973xx' '546xx' '222xx' '725xx' '232xx'
 '292xx' '570xx' '761xx' '462xx' '191xx' '641xx' '852xx' '328xx' '235xx'
 '463xx' '052xx' '780xx' '493xx' '042xx' '701xx' '978xx' '686xx' '240xx'
 '309xx' '953xx' '442xx' '567xx' '461xx' '741xx' '339xx' '226xx' '883xx'
 '357xx' '952xx' '050xx' '242xx' '986xx' '959xx' '971xx' '366xx' '071xx'
 '234xx' '490xx' '670xx' '377xx' '183xx' '537xx' '078xx' '296xx' '221xx'
 '067xx' '960xx' '622xx' '550xx' '389xx' '424xx' '469xx' '274xx' '915xx'
 '982xx' '808xx' '457xx' '609xx' '236xx' '628xx' '320xx' '423xx' '754xx'
 '365xx' '480xx' '220xx' '836xx' '208xx' '199xx' '133xx' '878xx' '932xx'
 '805xx' '870xx' '479xx' '542xx' '612xx' '061xx' '711xx' '910xx' '210xx'
 '864xx' '954xx' '402xx' '484xx' '560xx' '906xx' '224xx' '103xx' '482xx'
 '214xx' '918xx' '875xx' '016xx' '985xx' '708xx' '368xx' '439xx' '315xx'
 '597xx' '874xx' '278xx' '736xx' '447xx' '713xx' '943xx' '304xx' '405xx'
 '196xx' '740xx' '295xx' '571xx' '241xx' '492xx' '127xx' '448xx' '033xx'
 '035xx' '687xx' '286xx' '957xx' '587xx' '452xx' '181xx' '272xx' '062xx'
 '685xx' '539xx' '734xx' '590xx' '837xx' '912xx' '022xx' '838xx' '066xx'
 '303xx' '545xx' '487xx' '637xx' '540xx' '116xx' '847xx' '044xx' '541xx'
 '355xx' '123xx' '265xx' '790xx' '108xx' '881xx' '618xx' '871xx' '237xx'
 '488xx' '984xx' '829xx' '976xx' '390xx' '037xx' '784xx' '814xx' '728xx'
 '491xx' '446xx' '672xx' '186xx' '020xx' '084xx' '132xx' '668xx' '312xx'
 '916xx' '173xx' '898xx' '032xx' '473xx' '249xx' '034xx' '297xx' '856xx'
 '779xx' '843xx' '934xx' '437xx' '101xx' '157xx' '583xx' '924xx' '559xx'
 '897xx' '209xx' '323xx' '990xx' '608xx' '263xx' '470xx' '611xx' '931xx'
 '386xx' '401xx' '358xx' '475xx' '362xx' '494xx' '997xx' '102xx' '229xx'
 '729xx' '082xx' '666xx' '846xx' '580xx' '498xx' '744xx' '826xx' '172xx'
 '996xx' '914xx' '388xx' '949xx' '557xx' '720xx' '225xx' '718xx' '326xx'
 '565xx' '485xx' '151xx' '379xx' '359xx' '081xx' '026xx' '757xx' '167xx'
 '049xx' '549xx' '665xx' '680xx' '198xx' '293xx' '816xx' '804xx' '166xx'
 '626xx' '859xx' '657xx' '633xx' '298xx' '253xx' '534xx' '284xx' '882xx'
 '831xx' '880xx' '451xx' '277xx' '313xx' '834xx' '644xx' '933xx' '288xx'
 '827xx' '764xx' '433xx' '755xx' '287xx' '777xx' '394xx' '735xx' '989xx'
 '765xx' '254xx' '175xx' '188xx' '678xx' '767xx' '128xx' '647xx' '465xx'
 '478xx' '993xx' '147xx' '948xx' '723xx' '415xx' '645xx' '291xx' '363xx'
 '683xx' '165xx' '318xx' '877xx' '270xx' '797xx' '586xx' '354xx' '693xx'
 '085xx' '497xx' '069xx' '043xx' '903xx' '759xx' '955xx' '476xx' '279xx'
 '466xx' '636xx' '919xx' '603xx' '143xx' '769xx' '860xx' '904xx' '845xx'
 '803xx' '937xx' '677xx' '435xx' '795xx' '944xx' '135xx' '714xx' '013xx'
 '743xx' '575xx' '177xx' '168xx' '561xx' '400xx' '184xx' '411xx' '543xx'
 '261xx' '285xx' '828xx' '624xx' '813xx' '619xx' '474xx' '148xx' '652xx'
 '815xx' '646xx' '137xx' '118xx' '215xx' '472xx' '126xx' '648xx' '794xx'
 '614xx' '385xx' '139xx' '039xx' '251xx' '438xx' '594xx' '825xx' '591xx'
 '239xx' '812xx' '844xx' '436xx' '653xx' '164xx' '056xx' '427xx' '403xx'
 '406xx' '233xx' '384xx' '051xx' '581xx' '443xx' '961xx' '811xx' '798xx'
 '397xx' '598xx' '396xx' '783xx' '566xx' '651xx' '122xx' '374xx' '434xx'
 '676xx' '246xx' '716xx' '602xx' '495xx' '655xx' '289xx' '046xx' '998xx'
 '991xx' '582xx' '244xx' '717xx' '398xx' '634xx' '089xx' '596xx' '675xx'
 '710xx' '404xx' '544xx' '673xx' '639xx' '162xx' '690xx' '393xx' '079xx'
 '367xx' '664xx' '758xx' '585xx' '884xx' '588xx' '746xx' '382xx' '616xx'
 '036xx' '158xx' '149xx' '635xx' '572xx' '679xx' '387xx' '425xx' '830xx'
 '650xx' '999xx' '155xx' '739xx' '979xx' '058xx' '048xx' '592xx' '689xx'
 '593xx' '477xx' '821xx' '260xx' '159xx' '573xx' '179xx' '422xx' '041xx'
 '219xx' '824xx' '667xx' '768xx' '409xx' '638xx' '418xx' '057xx' '413xx'
 '266xx' '749xx' '789xx' '169xx' '613xx' '574xx' '684xx' '835xx' '595xx'
 '654xx' '045xx' '691xx' '737xx' '047xx' '252xx' '893xx' '823xx' '248xx'
 '267xx' '257xx' '873xx' '538xx' '772xx' '332xx' '584xx' '623xx' '556xx'
 '369xx' '738xx' '702xx' '259xx' '576xx' '962xx' '412xx' '879xx' '865xx'
 '408xx' '669xx' '258xx' '414xx' '090xx' '499xx' '426xx' '059xx' '692xx'
 '822xx' '792xx' '963xx' '987xx' '096xx' '416xx' '994xx' '753xx' '311xx'
 '969xx' '094xx' '264xx' '098xx' '268xx' '621xx' '247xx' '097xx' '525xx'
 '942xx' '861xx' '262xx' '091xx' '901xx' '204xx' '250xx' '965xx' '709xx'
 '345xx' '506xx' '502xx' '008xx' '569xx' '523xx' nan '885xx' '663xx'
 '555xx' '256xx' '340xx' '510xx' '095xx' '966xx' '343xx' '500xx' '007xx'
 '909xx']

addr_state
['LA' 'OR' 'TN' 'TX' 'OH' 'NC' 'MA' 'CA' 'IL' 'FL' 'NY' 'MD' 'VA' 'AL'
 'CO' 'AR' 'IN' 'KY' 'PA' 'VT' 'AZ' 'WI' 'MN' 'UT' 'NJ' 'MS' 'GA' 'NV'
 'MI' 'DC' 'CT' 'MO' 'KS' 'WA' 'HI' 'RI' 'DE' 'NH' 'SD' 'WY' 'NE' 'SC'
 'OK' 'ID' 'ME' 'AK' 'MT' 'WV' 'NM' 'ND']

earliest_cr_line
['Nov-1998' 'Mar-2004' 'May-2004' 'Aug-2003' 'May-1988' 'Jun-1993'
 'Jan-2003' 'Oct-1991' 'Jun-2007' 'Jan-2005' 'Apr-2001' 'Nov-2008'
 'Sep-2005' 'Dec-1993' 'Oct-1973' 'Mar-2007' 'Sep-2003' 'Sep-2002'
 'Sep-2011' 'Feb-2006' 'Feb-2003' 'Jul-2004' 'Sep-1997' 'May-2003'
 'Feb-2001' 'May-2000' 'Jul-1991' 'Aug-1995' 'Apr-2010' 'Aug-2012'
 'Oct-2002' 'May-1995' 'Jun-1992' 'Jan-1995' 'Dec-1998' 'Dec-2008'
 'May-2006' 'Feb-2005' 'Feb-1997' 'Dec-1986' 'Jun-1989' 'Dec-1979'
 'Jan-2001' 'Apr-2004' 'Jun-1997' 'Jul-2011' 'Jul-1970' 'Nov-2004'
 'Jun-1998' 'Dec-2002' 'Oct-1985' 'Aug-2004' 'Aug-1986' 'Oct-2005'
 'Nov-2013' 'Oct-2003' 'Sep-1990' 'Feb-2014' 'Mar-2006' 'Apr-1991'
 'Apr-2000' 'Feb-2007' 'Apr-1996' 'Jul-2006' 'Jan-2006' 'Mar-2000'
 'May-2010' 'Jul-1997' 'Oct-2001' 'Nov-2002' 'Feb-2009' 'Apr-1993'
 'Nov-1990' 'Mar-1999' 'Sep-2006' 'Apr-2002' 'May-1997' 'Feb-2004'
 'May-1998' 'May-2001' 'Jul-2003' 'Jun-1994' 'Dec-1997' 'Apr-1998'
 'Jun-2001' 'Apr-2005' 'Feb-1992' 'Aug-2009' 'Nov-1987' 'Jun-2003'
 'Aug-2001' 'Mar-1992' 'Jul-2000' 'Oct-2010' 'Dec-2005' 'Oct-1995'
 'Feb-2008' 'Sep-2010' 'Oct-2000' 'May-2007' 'Jul-1981' 'Jan-1992'
 'Oct-1994' 'Dec-1987' 'Apr-1999' 'Jul-2010' 'Dec-2004' 'Jun-1996'
 'May-1987' 'Nov-1999' 'May-2008' 'Aug-2013' 'Mar-2005' 'Sep-2008'
 'Mar-1993' 'Aug-1996' 'Jun-1991' 'Jan-1994' 'Jul-2008' 'Oct-1993'
 'Mar-2014' 'Sep-1996' 'May-1986' 'Apr-2008' 'Jun-2011' 'Mar-2001'
 'Jun-2005' 'Aug-2007' 'Aug-1989' 'Mar-1996' 'Jul-1972' 'Feb-1998'
 'Jan-1996' 'Feb-1991' 'Aug-1998' 'Sep-2007' 'Jul-1999' 'Apr-1986'
 'Dec-2006' 'Oct-2013' 'Oct-1996' 'May-1990' 'Jan-2012' 'Apr-2014'
 'Jun-2002' 'Nov-1995' 'Mar-2003' 'Jan-2007' 'Jan-1998' 'Aug-2002'
 'Feb-1994' 'Apr-1987' 'Jan-2004' 'Aug-2011' 'Jan-1983' 'Jun-2013'
 'Apr-2003' 'Jan-2010' 'Aug-1987' 'Oct-2009' 'Aug-2005' 'Dec-2000'
 'Apr-1994' 'Oct-2008' 'Nov-1997' 'Jul-1995' 'Nov-1982' 'Jun-2004'
 'May-2002' 'Sep-1995' 'Sep-2013' 'Aug-2008' 'Apr-1985' 'Oct-1986'
 'Feb-1999' 'Nov-1996' 'Aug-2000' 'Nov-2011' 'Dec-1994' 'Jul-1998'
 'Jul-2013' 'Aug-1999' 'Oct-2004' 'Dec-2009' 'Apr-2007' 'Jun-2006'
 'Sep-1986' 'Jan-1993' 'Jul-2012' 'Sep-1998' 'Mar-2008' 'Mar-1976'
 'Dec-2003' 'Apr-2006' 'Feb-1973' 'Aug-1983' 'Oct-1988' 'Jul-1994'
 'Jun-2008' 'Jan-1975' 'Nov-2001' 'Sep-2004' 'Jun-1990' 'May-1999'
 'Mar-1989' 'Sep-1999' 'Nov-1984' 'Mar-1995' 'Jan-1985' 'Feb-1996'
 'Jul-1993' 'Oct-1992' 'Sep-2000' 'Feb-2002' 'Mar-1981' 'Feb-1995'
 'Jul-1987' 'May-2005' 'Apr-1988' 'Mar-2012' 'May-1992' 'Feb-1980'
 'Aug-2006' 'Jan-1990' 'Jul-1989' 'Jul-2005' 'Apr-1990' 'Jul-2002'
 'Nov-2007' 'Oct-1983' 'Oct-1987' 'Jul-1988' 'Jan-1997' 'Jan-1989'
 'Jul-1984' 'Nov-2012' 'Jul-1992' 'Aug-1985' 'Nov-1980' 'Mar-2013'
 'Mar-2002' 'Sep-1993' 'Feb-1993' 'Nov-2005' 'Sep-1988' 'May-1983'
 'Dec-1992' 'Dec-1995' 'May-2009' 'Jun-1999' 'Aug-1993' 'Jul-2001'
 'Nov-2003' 'Dec-1999' 'Jul-1986' 'Feb-1983' 'Oct-1997' 'May-1991'
 'Jun-1985' 'Mar-1990' 'Oct-2011' 'Apr-2011' 'Jun-1969' 'May-2011'
 'Apr-2009' 'Nov-2010' 'Sep-2001' 'Jan-2000' 'Nov-2006' 'Sep-1966'
 'Jul-2009' 'Jan-2009' 'Jan-2013' 'Mar-1987' 'Nov-1994' 'Aug-1997'
 'Aug-1977' 'Mar-1986' 'Sep-1975' 'Sep-1987' 'Jan-1984' 'Nov-1991'
 'Apr-1974' 'Nov-1988' 'Jul-1979' 'Mar-1985' 'May-1993' 'Nov-2000'
 'Nov-1992' 'Dec-2007' 'Feb-1988' 'Aug-1990' 'Apr-1984' 'Apr-1989'
 'Nov-1973' 'Jun-1995' 'Jun-1987' 'Oct-1998' 'Dec-1996' 'Apr-1997'
 'Nov-1985' 'Oct-2012' 'Dec-1989' 'Jun-2000' 'Oct-2006' 'Jun-1984'
 'Mar-1983' 'Sep-1994' 'Aug-1994' 'Sep-2009' 'Nov-1979' 'Jan-2011'
 'Jun-1976' 'Feb-1987' 'Sep-1989' 'Feb-1984' 'Feb-2013' 'Aug-1992'
 'Mar-1997' 'Feb-2000' 'Sep-1985' 'Oct-1990' 'May-2012' 'Feb-2010'
 'Jul-1980' 'Jul-2007' 'Oct-1989' 'Sep-1972' 'Jun-1973' 'Sep-1992'
 'May-1989' 'Feb-1989' 'Jun-1983' 'Mar-1998' 'Jul-1996' 'Sep-1976'
 'Aug-1988' 'Dec-1982' 'Dec-2013' 'Jan-1981' 'Dec-2001' 'Oct-2007'
 'Oct-1979' 'Aug-1965' 'Aug-1984' 'Feb-1990' 'Jun-1977' 'Apr-1995'
 'Dec-2010' 'Dec-1964' 'Oct-1974' 'Mar-1984' 'Jan-1979' 'Apr-2013'
 'Oct-1999' 'Jan-1999' 'Jan-2008' 'Sep-1991' 'Apr-1983' 'Dec-1978'
 'Feb-1986' 'Dec-1990' 'May-1996' 'Nov-1989' 'Jan-1982' 'Mar-2009'
 'Mar-1974' 'May-1974' 'Dec-1984' 'Jun-2009' 'Mar-1988' 'May-1984'
 'Jan-2002' 'Feb-1982' 'Jun-1981' 'Dec-1988' 'Jan-1987' 'Apr-1992'
 'Nov-1993' 'Sep-1979' 'Sep-1982' 'Feb-2011' 'Nov-2009' 'May-2013'
 'Dec-2012' 'Mar-1991' 'Jan-1988' 'Jul-1990' 'Jul-1982' 'Jun-2010'
 'Aug-2010' 'Mar-1982' 'Apr-1966' 'Mar-2010' 'May-1979' 'Apr-1982'
 'Dec-2011' 'Jul-1983' 'Apr-1969' 'Feb-2012' 'Dec-1981' 'Sep-1983'
 'Oct-1981' 'Sep-1978' 'Jan-1969' 'Apr-2012' 'Jul-1971' 'Nov-1983'
 'Apr-1981' 'Apr-1979' 'Jan-1991' 'May-1994' 'Feb-1977' 'Sep-1980'
 'Jan-1972' 'Jun-1971' 'Dec-1974' 'May-1975' 'Oct-1984' 'Apr-1976'
 'Jun-1986' 'Oct-1978' 'Jun-2012' 'Aug-1991' 'Mar-1994' 'Feb-1979'
 'Nov-1986' 'Jul-1985' 'Sep-1984' 'Sep-2012' 'Mar-1980' 'Jun-1988'
 'Feb-1971' 'May-1971' 'Apr-1964' 'Jan-1977' 'Jan-1973' 'Mar-1973'
 'Jan-2014' 'Apr-1980' 'Aug-1982' 'Oct-1982' 'Sep-1974' 'Mar-1978'
 'Sep-1981' 'Mar-1971' 'Jun-1972' 'May-1982' 'Feb-1975' 'Nov-1969'
 'Mar-2011' 'Apr-1965' 'May-1985' 'Dec-1991' 'Aug-1974' 'Jan-1976'
 'Aug-1981' 'Dec-1983' 'Jun-1979' 'Aug-1971' 'Feb-1985' 'May-1978'
 'Sep-1977' 'Feb-1969' 'Jun-2014' 'Jul-1959' 'Oct-1977' 'Dec-1985'
 'Jun-1974' 'May-1967' 'Oct-1970' 'Oct-1980' 'Jan-1986' 'Aug-1979'
 'Apr-1967' 'Jun-1982' 'Jan-1965' 'Dec-1977' 'Apr-1970' 'May-1972'
 'Nov-1978' 'Nov-1977' 'Nov-1974' 'Mar-1977' 'Dec-1973' 'May-1981'
 'Feb-1966' 'Dec-1969' 'Nov-1975' 'Nov-1981' 'Jul-1975' 'Aug-1978'
 'Sep-1970' 'Mar-1972' 'Aug-1980' 'Jun-1966' 'Feb-1978' 'Apr-1978'
 'Jul-1973' 'Jul-1968' 'Jun-1975' 'Jun-1978' 'Nov-1965' 'Apr-1977'
 'Jul-1974' 'May-1980' 'Mar-1979' 'Nov-1971' 'Dec-1975' 'Nov-1972'
 'Feb-1981' 'Dec-1980' 'Aug-1970' 'Jan-1980' 'Mar-1970' 'Oct-1975'
 'Aug-1975' 'Apr-1972' 'Jul-1976' 'Aug-1964' 'Jul-1962' 'May-2014'
 'Aug-1973' 'Nov-1976' 'Jul-2014' 'May-1973' 'Jan-1968' 'Jan-1964'
 'Oct-1968' 'Jan-1970' 'Dec-1968' 'Sep-1971' 'Jan-1974' 'May-1977'
 'Jul-1977' 'Jul-1978' 'Dec-1976' 'Nov-1968' 'Jan-1978' 'Jul-1969'
 'Jun-1980' 'Jul-1967' 'Oct-1972' 'Apr-1975' 'Jun-1965' 'Jan-1961'
 'Feb-1972' 'Jan-1967' 'Dec-1970' 'Feb-1968' 'Jun-1968' 'Sep-1969'
 'Sep-1973' 'Feb-1967' 'Apr-1968' 'Feb-1964' 'Sep-1964' 'Jun-1970'
 'May-1976' 'Dec-1971' 'Feb-1970' 'Sep-1967' 'May-1961' 'Apr-1971'
 'Oct-1960' 'Dec-1966' 'Feb-1974' 'Mar-1975' 'Aug-1976' 'Aug-1969'
 'May-1970' 'Aug-1967' 'Oct-1976' 'May-1969' 'Apr-1963' 'Mar-1968'
 'Aug-1966' 'Jun-1967' 'Jan-1948' 'Apr-1973' 'Aug-1972' 'Jan-1971'
 'Jun-1963' 'Oct-1967' 'May-1966' 'Jan-1953' 'Oct-1971' 'Jul-1964'
 'Mar-1964' 'Nov-1970' 'Dec-1972' 'Sep-1968' 'Aug-2014' 'Jan-1963'
 'Nov-1967' 'Jan-1966' 'May-1968' 'Oct-1966' 'Oct-1965' 'May-1959'
 'Feb-1976' 'Oct-1969' 'Aug-1959' 'Oct-1963' 'Oct-1964' 'Mar-1969'
 'Aug-1968' 'Aug-1963' 'Jan-1960' 'Aug-1960' 'Mar-1967' 'Dec-1965'
 'Jan-1959' 'Dec-1967' 'May-1963' 'Jan-1962' 'Nov-1961' 'Jul-1965'
 'May-1964' 'Mar-1965' 'Mar-1966' 'Sep-1965' 'Jul-1966' 'Dec-1963'
 'Sep-1961' 'Jul-1952' 'Apr-1962' 'Nov-1966' 'Jan-1957' 'Feb-1962'
 'Jul-1963' 'Apr-1960' 'Aug-1961' 'Mar-1963' 'Jun-1960' 'Oct-1961'
 'Apr-1934' 'Jan-1958' 'Jul-1961' 'Jun-1959' 'Jun-1962' 'Nov-1963'
 'Dec-1962' 'Nov-1964' 'Dec-1960' 'Apr-1961' 'May-1965' 'May-1958'
 'Jun-1964' 'Jan-1956' 'Dec-1959' 'Jan-1952' 'Jan-1951' 'Nov-1960'
 'Jun-1958' 'Mar-1959' 'Feb-1963' 'Dec-1958' 'Feb-1934' 'Feb-1965'
 'Jul-1951' 'Nov-1962' 'Jan-1950' 'Aug-1941' 'Jul-1958' 'Sep-1951'
 'May-1962' 'Jun-1952']

initial_list_status
['w' 'f']

last_pymnt_d
['Dec-2017' 'Nov-2016' 'Nov-2017' 'Oct-2017' 'Aug-2017' 'Oct-2016'
 'Mar-2017' 'May-2017' 'Jul-2017' 'Sep-2017' 'Apr-2017' 'Aug-2016'
 'Feb-2017' 'Jun-2017' 'Jul-2016' 'Dec-2016' 'Sep-2016' 'Feb-2016'
 'Jan-2017' 'May-2016' 'Jun-2016' nan 'Apr-2016' 'Mar-2016' 'Jan-2016']

next_pymnt_d
['Jan-2018' nan 'Dec-2017' 'Feb-2018']

last_credit_pull_d
['Dec-2017' 'Mar-2017' 'Oct-2017' 'Sep-2017' 'Nov-2017' 'May-2017'
 'Oct-2016' 'Jun-2017' 'Aug-2016' 'Jul-2017' 'Apr-2017' 'Dec-2016'
 'Aug-2017' 'Jan-2017' 'Feb-2017' 'Sep-2016' 'May-2016' 'Jun-2016'
 'Nov-2016' 'Apr-2016' 'Feb-2016' 'Jul-2016' 'Mar-2016' 'Jan-2016' nan
 'Dec-2015']

application_type
['Individual' 'Joint App']

In [348]:
col_need_to_clean = ['term', 'emp_length', 'issue_d', 'earliest_cr_line', 'last_pymnt_d', 
                     'next_pymnt_d', 'last_credit_pull_d']

In [349]:
X_train['term'].unique()

array(['36 months', '60 months'], dtype=object)

In [350]:
pd.to_numeric(X_train['term'].str.replace('months', ''))

94915     36
580075    36
649151    36
750691    36
16928     36
          ..
496962    36
534673    36
353740    36
131174    36
670599    36
Name: term, Length: 379669, dtype: int64

In [351]:
X_train['term'] = pd.to_numeric(X_train['term'].str.replace('months', ''))

In [352]:
X_train['term']

94915     36
580075    36
649151    36
750691    36
16928     36
          ..
496962    36
534673    36
353740    36
131174    36
670599    36
Name: term, Length: 379669, dtype: int64

In [353]:
X_train['emp_length'].unique()

array(['2 years', '5 years', '10+ years', '9 years', nan, '1 year',
       '< 1 year', '3 years', '7 years', '6 years', '4 years', '8 years'],
      dtype=object)

In [354]:
X_train['emp_length'] = X_train['emp_length'].str.replace('+ years', '')
X_train['emp_length'] = X_train['emp_length'].str.replace(' years', '')
X_train['emp_length'] = X_train['emp_length'].str.replace('< 1 year', str(0))
X_train['emp_length'] = X_train['emp_length'].str.replace(' year', '')

X_train['emp_length'] = X_train['emp_length'].fillna(0)

In [355]:
X_train['emp_length'] = pd.to_numeric(X_train['emp_length'])

In [356]:
X_train['emp_length']

94915      2
580075     5
649151     5
750691     2
16928     10
          ..
496962     0
534673    10
353740     0
131174     2
670599     0
Name: emp_length, Length: 379669, dtype: int64

In [357]:
col_date = ['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']
X_train[col_date]

         issue_d earliest_cr_line last_pymnt_d next_pymnt_d last_credit_pull_d
94915   Apr-2017         Nov-1998     Dec-2017     Jan-2018           Dec-2017
580075  Nov-2016         Mar-2004     Dec-2017     Jan-2018           Dec-2017
649151  Mar-2016         May-2004     Nov-2016          NaN           Mar-2017
750691  Jan-2016         Aug-2003     Dec-2017     Jan-2018           Dec-2017
16928   Jun-2017         May-1988     Dec-2017     Jan-2018           Dec-2017
...          ...              ...          ...          ...                ...
496962  Apr-2016         Sep-1989     Dec-2017     Jan-2018           Dec-2017
534673  Dec-2016         Oct-2009     Dec-2017     Jan-2018           Dec-2017
353740  Aug-2017         Jul-2007     Dec-2017     Jan-2018           Dec-2017
131174  Mar-2017         Apr-2013     Dec-2017     Jan-2018           Dec-2017
670599  Mar-2016         Mar-1979     Jan-2017          NaN           Jan-2017

[379669 rows x 5 columns]

In [359]:
X_train['issue_d'] = pd.to_datetime(X_train['issue_d'])

C:\Users\USER\AppData\Local\Temp\ipykernel_6324\2585870489.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_train['issue_d'] = pd.to_datetime(X_train['issue_d'])

In [ ]:
X_train['issue_d']

94915    2017-04-01
580075   2016-11-01
649151   2016-03-01
750691   2016-01-01
16928    2017-06-01
            ...
496962   2016-04-01
534673   2016-12-01
353740   2017-08-01
131174   2017-03-01
670599   2016-03-01
Name: issue_d, Length: 379669, dtype: datetime64[ns]

In [ ]:
for col in col_date:
    X_train[col] = pd.to_datetime(X_train[col], format= '%Y-%m')

In [ ]:
X_train[col_date]

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
94915,2017-04-01,1998-11-01,2017-12-01,2018-01-01,2017-12-01
580075,2016-11-01,2004-03-01,2017-12-01,2018-01-01,2017-12-01
649151,2016-03-01,2004-05-01,2016-11-01,NaT,2017-03-01
750691,2016-01-01,2003-08-01,2017-12-01,2018-01-01,2017-12-01
16928,2017-06-01,1988-05-01,2017-12-01,2018-01-01,2017-12-01
...,...,...,...,...,...
496962,2016-04-01,1989-09-01,2017-12-01,2018-01-01,2017-12-01
534673,2016-12-01,2009-10-01,2017-12-01,2018-01-01,2017-12-01
353740,2017-08-01,2007-07-01,2017-12-01,2018-01-01,2017-12-01
131174,2017-03-01,2013-04-01,2017-12-01,2018-01-01,2017-12-01
670599,2016-03-01,1979-03-01,2017-01-01,NaT,2017-01-01

In [ ]:
for col in X_test.select_dtypes(include= ['object', 'bool']).columns:
  print(col)
  print(X_test[col].unique())
  print()

grade
['C' 'D' 'B' 'A' 'E' 'G' 'F']

sub_grade
['C1' 'D3' 'B3' 'C4' 'B4' 'A5' 'B2' 'A1' 'C3' 'D2' 'B1' 'B5' 'D4' 'D5'
 'C2' 'A2' 'E5' 'A3' 'D1' 'E2' 'E1' 'C5' 'G4' 'A4' 'E3' 'G1' 'F5' 'G5'
 'F1' 'E4' 'F3' 'F2' 'F4' 'G3' 'G2']

emp_title
['Ground Operations' nan 'Associate Director, Tax' ...
 'Senior sales specialist' 'Inventory Control Assistant' 'Sr. pastor']

emp_length
['6' 0 '10' '1' '0' '4' '9' '7' '2' '3' '8' '5']

home_ownership
['RENT' 'MORTGAGE' 'OWN' 'ANY' 'NONE']

verification_status
['Source Verified' 'Verified' 'Not Verified']

issue_d
['Sep-2016' 'Apr-2017' 'May-2017' 'Jun-2017' 'Jan-2016' 'Aug-2016'
 'Aug-2017' 'Jun-2016' 'Sep-2017' 'Oct-2016' 'Jul-2017' 'Mar-2017'
 'Mar-2016' 'Dec-2016' 'Jul-2016' 'Jan-2017' 'Feb-2017' 'Nov-2016'
 'Apr-2016' 'May-2016' 'Feb-2016']

loan_status
['Fully Paid' 'Current' 'Charged Off' 'Late (31-120 days)'
 'In Grace Period' 'Late (16-30 days)' 'Default']

pymnt_plan
['n' 'y']

purpose
['debt_consolidation' 'credit_card' 'other' 'home_improvement'
 'small_business' 'major_purchase' 'house' 'moving' 'medical' 'car'
 'vacation' 'renewable_energy']

title
['Debt consolidation' 'Credit card refinancing' 'Other' 'Home improvement'
 'Business' 'Major purchase' 'Home buying' 'Moving and relocation' nan
 'Medical expenses' 'Car financing' 'Vacation' 'Green loan'
 'Credit Card Consolidation']

zip_code
['303xx' '970xx' '064xx' '334xx' '926xx' '121xx' '981xx' '290xx' '972xx'
 '936xx' '068xx' '441xx' '600xx' '338xx' '953xx' '105xx' '431xx' '988xx'
 '422xx' '067xx' '945xx' '029xx' '082xx' '891xx' '275xx' '430xx' '083xx'
 '604xx' '313xx' '770xx' '782xx' '920xx' '786xx' '300xx' '932xx' '198xx'
 '443xx' '210xx' '060xx' '440xx' '761xx' '799xx' '230xx' '212xx' '757xx'
 '853xx' '951xx' '117xx' '900xx' '935xx' '461xx' '209xx' '395xx' '913xx'
 '486xx' '330xx' '452xx' '553xx' '110xx' '852xx' '280xx' '432xx' '339xx'
 '142xx' '206xx' '775xx' '370xx' '560xx' '871xx' '140xx' '112xx' '080xx'
 '722xx' '179xx' '074xx' '614xx' '327xx' '983xx' '020xx' '295xx' '282xx'
 '017xx' '610xx' '752xx' '750xx' '207xx' '982xx' '320xx' '286xx' '159xx'
 '195xx' '989xx' '550xx' '840xx' '347xx' '317xx' '281xx' '480xx' '407xx'
 '959xx' '787xx' '956xx' '704xx' '765xx' '740xx' '038xx' '912xx' '937xx'
 '946xx' '800xx' '070xx' '148xx' '814xx' '487xx' '283xx' '746xx' '336xx'
 '328xx' '321xx' '925xx' '152xx' '955xx' '305xx' '170xx' '974xx' '971xx'
 '465xx' '301xx' '156xx' '808xx' '018xx' '130xx' '100xx' '341xx' '773xx'
 '030xx' '564xx' '337xx' '479xx' '823xx' '811xx' '197xx' '366xx' '481xx'
 '488xx' '984xx' '111xx' '350xx' '362xx' '785xx' '804xx' '606xx' '797xx'
 '907xx' '114xx' '294xx' '958xx' '774xx' '735xx' '850xx' '712xx' '751xx'
 '160xx' '333xx' '402xx' '484xx' '302xx' '386xx' '471xx' '531xx' '930xx'
 '272xx' '331xx' '923xx' '917xx' '940xx' '902xx' '794xx' '324xx' '934xx'
 '216xx' '927xx' '183xx' '023xx' '618xx' '633xx' '857xx' '986xx' '597xx'
 '307xx' '066xx' '921xx' '630xx' '161xx' '801xx' '662xx' '764xx' '941xx'
 '446xx' '968xx' '450xx' '939xx' '123xx' '672xx' '760xx' '535xx' '477xx'
 '225xx' '145xx' '306xx' '688xx' '754xx' '637xx' '601xx' '351xx' '296xx'
 '767xx' '554xx' '617xx' '980xx' '132xx' '975xx' '221xx' '444xx' '376xx'
 '088xx' '222xx' '928xx' '146xx' '731xx' '806xx' '273xx' '826xx' '220xx'
 '184xx' '758xx' '648xx' '231xx' '914xx' '342xx' '214xx' '352xx' '166xx'
 '119xx' '834xx' '462xx' '851xx' '061xx' '063xx' '790xx' '948xx' '802xx'
 '890xx' '641xx' '577xx' '384xx' '174xx' '208xx' '136xx' '433xx' '915xx'
 '460xx' '103xx' '906xx' '640xx' '736xx' '084xx' '482xx' '563xx' '483xx'
 '809xx' '455xx' '104xx' '200xx' '125xx' '144xx' '255xx' '954xx' '922xx'
 '591xx' '973xx' '223xx' '549xx' '349xx' '463xx' '605xx' '072xx' '494xx'
 '492xx' '190xx' '995xx' '847xx' '624xx' '780xx' '284xx' '115xx' '952xx'
 '957xx' '087xx' '373xx' '076xx' '562xx' '172xx' '217xx' '895xx' '453xx'
 '658xx' '985xx' '027xx' '447xx' '660xx' '700xx' '035xx' '277xx' '933xx'
 '543xx' '815xx' '585xx' '421xx' '310xx' '077xx' '727xx' '950xx' '240xx'
 '232xx' '211xx' '716xx' '843xx' '710xx' '559xx' '379xx' '657xx' '314xx'
 '085xx' '239xx' '360xx' '707xx' '276xx' '040xx' '792xx' '011xx' '199xx'
 '468xx' '346xx' '298xx' '377xx' '967xx' '628xx' '620xx' '667xx' '454xx'
 '837xx' '107xx' '405xx' '976xx' '371xx' '530xx' '315xx' '992xx' '882xx'
 '028xx' '293xx' '611xx' '278xx' '863xx' '769xx' '703xx' '289xx' '380xx'
 '113xx' '607xx' '763xx' '316xx' '363xx' '616xx' '201xx' '019xx' '544xx'
 '701xx' '056xx' '024xx' '274xx' '021xx' '816xx' '309xx' '391xx' '778xx'
 '354xx' '551xx' '138xx' '781xx' '565xx' '631xx' '838xx' '325xx' '238xx'
 '997xx' '165xx' '410xx' '545xx' '357xx' '723xx' '134xx' '783xx' '186xx'
 '285xx' '904xx' '418xx' '883xx' '335xx' '841xx' '919xx' '493xx' '147xx'
 '622xx' '495xx' '150xx' '073xx' '666xx' '594xx' '388xx' '860xx' '365xx'
 '469xx' '236xx' '403xx' '041xx' '762xx' '498xx' '308xx' '390xx' '931xx'
 '960xx' '185xx' '944xx' '153xx' '466xx' '071xx' '456xx' '297xx' '158xx'
 '683xx' '143xx' '911xx' '442xx' '229xx' '381xx' '470xx' '176xx' '372xx'
 '570xx' '575xx' '344xx' '116xx' '191xx' '910xx' '805xx' '894xx' '106xx'
 '856xx' '875xx' '319xx' '728xx' '777xx' '171xx' '686xx' '252xx' '424xx'
 '378xx' '680xx' '180xx' '081xx' '233xx' '173xx' '049xx' '977xx' '241xx'
 '434xx' '996xx' '128xx' '720xx' '820xx' '602xx' '037xx' '224xx' '829xx'
 '234xx' '532xx' '708xx' '137xx' '566xx' '656xx' '322xx' '288xx' '719xx'
 '810xx' '361xx' '571xx' '721xx' '916xx' '291xx' '557xx' '032xx' '681xx'
 '542xx' '993xx' '010xx' '194xx' '880xx' '014xx' '832xx' '879xx' '078xx'
 '329xx' '043xx' '015xx' '812xx' '451xx' '367xx' '541xx' '846xx' '490xx'
 '546xx' '086xx' '181xx' '226xx' '126xx' '396xx' '120xx' '244xx' '245xx'
 '102xx' '588xx' '593xx' '164xx' '397xx' '196xx' '744xx' '026xx' '323xx'
 '749xx' '994xx' '157xx' '706xx' '264xx' '054xx' '623xx' '580xx' '737xx'
 '406xx' '766xx' '292xx' '626xx' '547xx' '655xx' '476xx' '881xx' '411xx'
 '394xx' '287xx' '908xx' '582xx' '561xx' '358xx' '237xx' '629xx' '435xx'
 '025xx' '473xx' '661xx' '163xx' '670xx' '491xx' '464xx' '042xx' '215xx'
 '615xx' '788xx' '877xx' '741xx' '791xx' '678xx' '825xx' '189xx' '108xx'
 '355xx' '065xx' '803xx' '016xx' '124xx' '822xx' '496xx' '448xx' '918xx'
 '089xx' '581xx' '141xx' '193xx' '129xx' '548xx' '058xx' '705xx' '714xx'
 '855xx' '711xx' '131xx' '776xx' '870xx' '537xx' '118xx' '730xx' '905xx'
 '756xx' '807xx' '587xx' '467xx' '748xx' '436xx' '540xx' '127xx' '949xx'
 '392xx' '075xx' '109xx' '122xx' '687xx' '051xx' '175xx' '824xx' '270xx'
 '609xx' '069xx' '458xx' '151xx' '645xx' '438xx' '647xx' '961xx' '400xx'
 '057xx' '167xx' '383xx' '228xx' '854xx' '013xx' '374xx' '725xx' '227xx'
 '457xx' '734xx' '414xx' '475xx' '359xx' '747xx' '408xx' '793xx' '155xx'
 '393xx' '759xx' '646xx' '833xx' '079xx' '474xx' '177xx' '389xx' '897xx'
 '168xx' '726xx' '154xx' '718xx' '326xx' '318xx' '893xx' '538xx' '031xx'
 '738xx' '652xx' '489xx' '304xx' '836xx' '979xx' '978xx' '472xx' '898xx'
 '943xx' '685xx' '382xx' '650xx' '924xx' '717xx' '182xx' '903xx' '219xx'
 '558xx' '665xx' '415xx' '844xx' '745xx' '299xx' '062xx' '567xx' '947xx'
 '188xx' '445xx' '312xx' '364xx' '539xx' '427xx' '884xx' '755xx' '385xx'
 '676xx' '235xx' '139xx' '784xx' '796xx' '218xx' '420xx' '253xx' '497xx'
 '368xx' '044xx' '627xx' '101xx' '636xx' '673xx' '768xx' '713xx' '356xx'
 '387xx' '050xx' '664xx' '271xx' '828xx' '574xx' '613xx' '864xx' '675xx'
 '279xx' '789xx' '404xx' '612xx' '603xx' '671xx' '259xx' '859xx' '990xx'
 '423xx' '608xx' '162xx' '502xx' '798xx' '401xx' '012xx' '247xx' '827xx'
 '729xx' '246xx' '242xx' '034xx' '045xx' '874xx' '187xx' '724xx' '572xx'
 '135xx' '263xx' '679xx' '690xx' '779xx' '592xx' '485xx' '149xx' '653xx'
 '178xx' '625xx' '635xx' '409xx' '047xx' '437xx' '599xx' '638xx' '534xx'
 '634xx' '845xx' '795xx' '425xx' '439xx' '674xx' '644xx' '243xx' '133xx'
 '813xx' '691xx' '413xx' '254xx' '693xx' '412xx' '583xx' '669xx' '260xx'
 '556xx' '039xx' '830xx' '668xx' '654xx' '586xx' '478xx' '998xx' '743xx'
 '598xx' '865xx' '033xx' '009xx' '340xx' '261xx' '416xx' '046xx' '878xx'
 '499xx' '097xx' '835xx' '449xx' '596xx' '053xx' '332xx' '096xx' '739xx'
 '590xx' '619xx' '595xx' '584xx' '677xx' '639xx' '258xx' '052xx' '036xx'
 '684xx' '651xx' '942xx' '991xx' '963xx' '267xx' '426xx' '251xx' '250xx'
 '417xx' '964xx' '999xx' '265xx' '753xx' '169xx' '573xx' '398xx' '689xx'
 '702xx' '873xx' '022xx' '521xx' '048xx' '831xx' '262xx' '369xx' '257xx'
 '092xx' '093xx' '091xx' '969xx' '772xx' '059xx' '094xx' '576xx' '696xx'
 '266xx' '692xx' '965xx' '249xx' '962xx' '098xx' '203xx' '555xx' '311xx'
 '008xx' '055xx' '202xx' '248xx' '256xx' '090xx' '348xx' '742xx' '528xx'
 '861xx' '698xx' '694xx' '268xx' '569xx' '552xx' '821xx' '095xx' '966xx'
 '872xx' '353xx' '515xx' '500xx' '901xx']

addr_state
['GA' 'OR' 'CT' 'FL' 'CA' 'NY' 'WA' 'SC' 'OH' 'IL' 'KY' 'RI' 'NJ' 'NV'
 'NC' 'TX' 'DE' 'MD' 'VA' 'AZ' 'IN' 'MS' 'MI' 'MN' 'TN' 'NM' 'AR' 'PA'
 'MA' 'UT' 'LA' 'OK' 'NH' 'CO' 'WY' 'AL' 'WI' 'MO' 'MT' 'KS' 'HI' 'NE'
 'ID' 'SD' 'DC' 'WV' 'AK' 'ND' 'ME' 'VT']

earliest_cr_line
['Nov-1995' 'Oct-2006' 'Nov-1989' 'Mar-2009' 'Apr-2005' 'Nov-2003'
 'May-2001' 'Apr-2000' 'Mar-2003' 'Mar-2004' 'May-2004' 'Jun-1999'
 'Sep-1998' 'Sep-2007' 'Jan-2009' 'Nov-2000' 'Sep-1995' 'Oct-1990'
 'Apr-2010' 'Oct-2009' 'Aug-2004' 'May-1996' 'Aug-1998' 'Dec-2007'
 'Nov-2005' 'Mar-2001' 'Oct-2003' 'Mar-2002' 'Nov-1969' 'Aug-1977'
 'Oct-2002' 'Jul-1991' 'Aug-2011' 'Dec-1983' 'Apr-1984' 'Jan-2010'
 'Aug-2006' 'Dec-2001' 'Oct-1998' 'Sep-2003' 'Jul-1988' 'Dec-1999'
 'Mar-2011' 'Dec-2002' 'Apr-2004' 'Aug-1995' 'Jun-1992' 'Jan-1997'
 'Jan-2003' 'Jan-2000' 'Mar-2008' 'Oct-1980' 'Mar-2007' 'Sep-2005'
 'Apr-1983' 'Feb-2004' 'Apr-2014' 'Oct-1979' 'Jul-1987' 'May-2008'
 'Jul-1994' 'Apr-1990' 'Sep-1999' 'Aug-2013' 'Nov-2004' 'Nov-1998'
 'Jul-2013' 'Jun-1994' 'Oct-2010' 'Sep-2001' 'Nov-2009' 'Feb-1999'
 'Jul-2003' 'Mar-1996' 'Apr-1993' 'Aug-2002' 'Dec-1996' 'Jul-1993'
 'Sep-1991' 'Aug-2001' 'Mar-1988' 'Aug-1997' 'Aug-2009' 'Sep-2002'
 'Jan-2002' 'Mar-2005' 'Apr-2006' 'Sep-2004' 'Aug-1978' 'Sep-2000'
 'Dec-2013' 'May-2007' 'Oct-1995' 'May-1994' 'Jul-2002' 'Feb-2006'
 'Jun-2003' 'Aug-1996' 'Dec-1982' 'Sep-2011' 'Jun-2008' 'Sep-1997'
 'Jul-1999' 'Apr-2002' 'Feb-2007' 'Dec-1992' 'May-1981' 'Jul-2012'
 'Oct-1999' 'Jul-1983' 'Feb-2002' 'Mar-1992' 'Nov-2011' 'Jan-2007'
 'Jun-2004' 'Mar-1999' 'Feb-2008' 'Oct-1996' 'Apr-1991' 'Jun-1993'
 'Feb-2003' 'Oct-2005' 'Apr-1996' 'Mar-2000' 'Sep-1996' 'Jan-1998'
 'Jul-2006' 'May-1998' 'Oct-1989' 'May-1995' 'May-1999' 'Mar-2013'
 'Dec-2005' 'Apr-2003' 'Aug-2003' 'Oct-2001' 'Oct-2007' 'Jun-1995'
 'Oct-2004' 'Aug-1980' 'Feb-1996' 'May-1979' 'May-2005' 'May-2002'
 'Jun-2011' 'Dec-1994' 'Jan-2006' 'Jun-2005' 'Jul-2000' 'Feb-1997'
 'Dec-2003' 'May-1997' 'Mar-1998' 'Aug-2012' 'Dec-1991' 'Mar-1997'
 'Dec-2012' 'Feb-1984' 'May-2003' 'Jun-2006' 'Aug-2005' 'May-1992'
 'Jan-1990' 'Jun-1983' 'Feb-2001' 'Jan-2004' 'Aug-1999' 'Aug-1986'
 'Aug-1988' 'Apr-1988' 'Jul-1997' 'May-1993' 'Jan-1980' 'Oct-1991'
 'Jun-2000' 'Sep-1984' 'Nov-1999' 'Mar-1995' 'Dec-2006' 'Jul-1998'
 'Mar-1977' 'Mar-1985' 'Jul-1995' 'Feb-2012' 'Nov-2006' 'Dec-2004'
 'Nov-2002' 'Mar-1978' 'Dec-1985' 'May-2006' 'Jan-2012' 'Apr-2007'
 'Nov-1986' 'Nov-1996' 'Oct-1981' 'Oct-1994' 'Oct-1993' 'Sep-1990'
 'Jul-2011' 'Jun-2012' 'Sep-2010' 'Feb-2011' 'Feb-2000' 'Oct-2000'
 'Nov-1993' 'Feb-1994' 'Jan-1988' 'Dec-2008' 'Nov-1980' 'Jun-2002'
 'Jan-1983' 'Jun-2001' 'Feb-1989' 'May-1984' 'Oct-2008' 'Aug-2007'
 'Nov-1991' 'Aug-2008' 'Jan-2008' 'Jan-2001' 'Jul-1986' 'Dec-1990'
 'Dec-1998' 'Sep-2009' 'Feb-1990' 'Mar-1994' 'Jul-2005' 'Jul-2004'
 'Aug-2010' 'May-1986' 'May-2010' 'Jan-1986' 'Nov-2007' 'Feb-1988'
 'Oct-1997' 'Jul-1984' 'May-2013' 'Jun-1989' 'Apr-1994' 'Oct-1984'
 'Apr-1997' 'Aug-1976' 'Jan-1987' 'Sep-1988' 'Jun-1996' 'Jul-2001'
 'Dec-1993' 'Nov-2001' 'Mar-1989' 'Oct-2012' 'Mar-1990' 'Apr-2009'
 'Aug-2000' 'Sep-1986' 'Jun-1988' 'Mar-2010' 'Oct-1985' 'Feb-2009'
 'Jun-2007' 'Apr-2008' 'Oct-1982' 'Feb-2013' 'Jan-1993' 'Oct-1983'
 'Mar-2006' 'Jun-1985' 'Nov-1997' 'Jul-2007' 'Aug-1987' 'Mar-1979'
 'Apr-1986' 'Dec-1987' 'Oct-2013' 'Apr-2001' 'Mar-1991' 'Jan-1984'
 'Aug-1994' 'Apr-1978' 'Dec-2011' 'Jan-1989' 'Feb-1995' 'Feb-1986'
 'Jun-1990' 'Mar-2012' 'Oct-1986' 'May-1988' 'Sep-1993' 'Mar-1984'
 'Sep-1973' 'Sep-1994' 'Dec-1986' 'Dec-1997' 'Dec-1995' 'Dec-2000'
 'Jun-2009' 'Oct-1975' 'Aug-1973' 'Mar-1993' 'Jan-1994' 'Jun-1997'
 'Apr-1972' 'Oct-1987' 'May-1990' 'Mar-1987' 'Jul-1990' 'Jun-1976'
 'Apr-1998' 'Feb-1993' 'Feb-1991' 'May-1974' 'Feb-1987' 'Sep-2008'
 'Jan-1977' 'May-1982' 'Sep-1992' 'Mar-1968' 'Sep-2006' 'Jan-2005'
 'Jun-1987' 'Nov-1990' 'May-2012' 'Oct-1973' 'Apr-1995' 'Aug-1990'
 'May-1968' 'Nov-1994' 'Feb-2005' 'Apr-2012' 'Jan-1995' 'Apr-2011'
 'Aug-1993' 'Oct-1992' 'Apr-1982' 'Jun-1978' 'Aug-1992' 'May-2014'
 'May-1987' 'Sep-1981' 'Dec-1988' 'Nov-2013' 'Apr-1985' 'Aug-1983'
 'Sep-2013' 'Aug-1991' 'Sep-1962' 'Dec-1984' 'Dec-2009' 'Jul-1992'
 'Jun-2010' 'May-2000' 'Mar-1986' 'Jun-1998' 'Jul-1996' 'Nov-1985'
 'Mar-1980' 'Jul-2010' 'Jan-1991' 'Nov-2008' 'Nov-1987' 'Sep-2012'
 'Dec-1973' 'Sep-1977' 'Jan-1982' 'Jun-1991' 'Jan-1999' 'Jun-1977'
 'Jul-1978' 'Apr-1989' 'May-1991' 'Apr-1999' 'Jun-2013' 'Oct-1988'
 'Nov-2010' 'Mar-1982' 'Jan-1973' 'Mar-1971' 'May-2011' 'Jun-1986'
 'Apr-1979' 'Nov-2012' 'Jan-2013' 'Jul-1989' 'Dec-2010' 'Mar-2014'
 'Feb-2014' 'Aug-1985' 'May-1985' 'Aug-1989' 'Feb-2010' 'Oct-2011'
 'Jul-2009' 'May-1983' 'Nov-1988' 'Nov-1981' 'Nov-1983' 'Feb-1992'
 'Nov-1979' 'Jun-1984' 'Apr-1965' 'Dec-1980' 'Sep-1979' 'Oct-1978'
 'Jul-1982' 'Jul-2008' 'Sep-1987' 'May-1961' 'Jan-1970' 'Dec-1979'
 'Aug-1984' 'May-1989' 'Dec-1974' 'Dec-1975' 'May-2009' 'Apr-2013'
 'Apr-1992' 'Oct-1968' 'Oct-1974' 'Feb-1983' 'Jan-1985' 'Jun-1982'
 'Nov-1992' 'Jan-1992' 'May-1971' 'Oct-1976' 'Dec-1989' 'Jul-1981'
 'Mar-1981' 'Apr-1977' 'Dec-1977' 'Dec-1971' 'May-1978' 'Feb-1977'
 'Jan-1996' 'Jun-1974' 'Feb-1998' 'Oct-1977' 'Aug-1967' 'Jan-1967'
 'Jun-1981' 'Jan-1969' 'Mar-1983' 'May-1980' 'Sep-1980' 'Apr-1987'
 'Feb-1982' 'Sep-1968' 'Nov-1984' 'Jan-1976' 'Nov-1982' 'Feb-1985'
 'Nov-1977' 'Jul-1980' 'Apr-1981' 'Jan-2014' 'Jan-1981' 'Sep-1967'
 'Dec-1981' 'Mar-1974' 'Jan-1978' 'Jul-1975' 'Nov-1973' 'Dec-1970'
 'Nov-1976' 'Aug-1982' 'Jun-1973' 'Jul-1974' 'Sep-1989' 'Sep-1982'
 'Jan-2011' 'Mar-1976' 'Aug-1969' 'Jan-1979' 'Sep-1969' 'Feb-1967'
 'Oct-1966' 'Jun-1979' 'Feb-1980' 'Jan-1966' 'Dec-1976' 'Jul-1979'
 'Jun-1970' 'Sep-1976' 'Jun-1975' 'Feb-1981' 'Jan-1975' 'May-1969'
 'May-1976' 'Aug-1981' 'Sep-1983' 'Jul-1985' 'Jul-1972' 'Feb-1976'
 'Aug-1979' 'Dec-1978' 'Jun-1969' 'Apr-1973' 'Jun-2014' 'Jan-1961'
 'Jul-1976' 'May-1975' 'Sep-1985' 'Jun-1980' 'May-1973' 'Sep-1978'
 'Aug-2014' 'Nov-1964' 'Feb-1970' 'Jul-1969' 'Feb-1979' 'Nov-1972'
 'Feb-1975' 'Mar-1963' 'Jun-1972' 'Jun-1966' 'Aug-1965' 'Oct-1971'
 'Mar-1973' 'Nov-1978' 'Apr-1963' 'Aug-1974' 'Aug-1972' 'Dec-1969'
 'Aug-1971' 'Oct-1972' 'Dec-1972' 'Apr-1966' 'Apr-1980' 'Nov-1970'
 'Jan-1971' 'May-1966' 'May-1970' 'Mar-1970' 'Sep-1972' 'Feb-1974'
 'Mar-1972' 'Jan-1958' 'Nov-1965' 'Jan-1965' 'May-1977' 'Sep-1970'
 'Jun-1965' 'Feb-1971' 'Feb-1973' 'Dec-1968' 'Jan-1968' 'Jan-1952'
 'Apr-1976' 'Oct-1967' 'Mar-1975' 'Apr-1968' 'Jan-1959' 'Sep-1974'
 'Jan-1974' 'Jul-1977' 'Aug-1970' 'Feb-1972' 'Nov-1968' 'Feb-1962'
 'Feb-1978' 'Sep-1966' 'Jul-1966' 'Apr-1975' 'May-1972' 'Jun-1968'
 'Sep-1975' 'Feb-1960' 'Apr-1967' 'Jul-1965' 'Nov-1974' 'Oct-1965'
 'Aug-1958' 'Jul-1973' 'Nov-1957' 'Feb-1965' 'Mar-1966' 'Jan-1960'
 'Jun-1957' 'Jul-1970' 'Jul-1964' 'Jul-2014' 'Jan-1963' 'Jun-1967'
 'Jun-1971' 'Apr-1969' 'Apr-1974' 'Apr-1971' 'Aug-1966' 'Sep-1963'
 'Jul-1968' 'Oct-1969' 'Feb-1969' 'Mar-1961' 'Nov-1959' 'Mar-1965'
 'Nov-1971' 'Apr-1970' 'Dec-1959' 'Nov-1966' 'Jun-1961' 'Oct-1962'
 'Nov-1967' 'Nov-1975' 'Aug-1968' 'Mar-1957' 'Dec-1966' 'Apr-1961'
 'Jul-1971' 'Sep-1971' 'Aug-1975' 'Oct-1970' 'Mar-1964' 'Dec-1965'
 'Jan-1972' 'Apr-1964' 'Feb-1968' 'Dec-1960' 'Dec-1967' 'Mar-1960'
 'Oct-1964' 'Jan-1962' 'Jan-1964' 'May-1959' 'Feb-1961' 'Jul-1967'
 'Dec-1946' 'Mar-1954' 'May-1965' 'Dec-1956' 'Sep-1964' 'Mar-1959'
 'Mar-1969' 'May-1964' 'Dec-1962' 'Sep-1961' 'Oct-1963' 'May-1962'
 'May-1967' 'Oct-1961' 'Jun-1962' 'Sep-1965' 'Jun-1964' 'Jul-1959'
 'Jan-1956' 'Mar-1967' 'Mar-1955' 'Nov-1963' 'Dec-1964' 'Feb-1966'
 'Jan-1950' 'Jun-1963' 'Aug-1957' 'Mar-1962' 'Feb-1964' 'Feb-1959'
 'Jul-1962' 'Feb-1963' 'Jul-1961' 'Apr-1955' 'Jul-1963' 'Aug-1953'
 'Jun-1959' 'Apr-1958' 'Aug-1963' 'Aug-1962' 'Aug-1964' 'Jan-1951'
 'Nov-1962' 'Oct-1958' 'May-1960' 'Feb-1945' 'May-1963' 'Nov-1952'
 'Jan-1955' 'Jun-1960' 'Mar-1933' 'Jan-1953' 'Nov-1961' 'Apr-1962'
 'Jul-1960']

initial_list_status
['f' 'w']

last_pymnt_d
['Nov-2017' 'Dec-2017' 'Jan-2017' 'Sep-2017' 'Oct-2017' 'Mar-2017'
 'Jul-2017' 'Jun-2016' 'Apr-2017' 'Dec-2016' 'Feb-2017' 'Aug-2017'
 'Mar-2016' 'Nov-2016' 'Oct-2016' 'May-2017' 'Sep-2016' 'Jun-2017'
 'Aug-2016' 'Jul-2016' nan 'May-2016' 'Jan-2016' 'Apr-2016' 'Feb-2016']

next_pymnt_d
[nan 'Jan-2018' 'Dec-2017' 'Feb-2018']

last_credit_pull_d
['Dec-2017' 'Nov-2017' 'Oct-2017' 'Sep-2017' 'Mar-2017' 'May-2017'
 'Aug-2017' 'Mar-2016' 'Jul-2017' 'Nov-2016' 'Oct-2016' 'Apr-2017'
 'Jun-2017' 'Jul-2016' 'Feb-2017' 'Jun-2016' 'Apr-2016' 'Jan-2017'
 'May-2016' 'Aug-2016' 'Dec-2016' 'Sep-2016' 'Jan-2016' 'Feb-2016' nan
 'Dec-2015']

application_type
['Individual' 'Joint App']

In [360]:
X_test['term'] = pd.to_numeric(X_test['term'].str.replace('months', ''))

In [367]:
X_test['emp_length'] = X_test['emp_length'].str.replace('+ years', '')
X_test['emp_length'] = X_test['emp_length'].str.replace(' years', '')
X_test['emp_length'] = X_test['emp_length'].str.replace('< 1 year', str(0))
X_test['emp_length'] = X_test['emp_length'].str.replace(' year', '')

X_test['emp_length'] = X_test['emp_length'].fillna(0)

X_test['emp_length'] = pd.to_numeric(X_test['emp_length'])

In [365]:
for col in col_date:
    X_test[col] = pd.to_datetime(X_test[col])

C:\Users\USER\AppData\Local\Temp\ipykernel_6324\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_6324\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_6324\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_6324\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])
C:\Users\USER\AppData\Local\Temp\ipykernel_6324\2991849270.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  X_test[col] = pd.to_datetime(X_test[col])

In [368]:
X_test[col_need_to_clean].info()

<class 'pandas.core.frame.DataFrame'>
Index: 379669 entries, 203213 to 331618
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   term                379669 non-null  int64
 1   emp_length          379669 non-null  int64
 2   issue_d             379669 non-null  datetime64[ns]
 3   earliest_cr_line    379669 non-null  datetime64[ns]
 4   last_pymnt_d        379158 non-null  datetime64[ns]
 5   next_pymnt_d        295761 non-null  datetime64[ns]
 6   last_credit_pull_d  379661 non-null  datetime64[ns]
dtypes: datetime64[ns](5), int64(2)
memory usage: 23.2 MB